
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" dir="ltr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>ITeye问答频道</title>
<meta name="description" content="软件开发技术专题问答社区">
<meta name="keywords" content="软件 开发 技术 专题 问答 社区">
<div id="page">
	<div id="header"></div>

	<div id="content" class="clearfix ask_action_handler">
		<div id="main">

			<div id="recommend">
				<h3>编辑推荐内容</h3>
				<ul>

					<li><a href="http://www.iteye.com/problems/95146"
						title="spring mvc登陆功能如何实现较好？">spring mvc登陆功能如何实现较好？</a></li>

					<li><a href="http://www.iteye.com/problems/95094"
						title="MyBatis怎样实现MySQL动态分页？">MyBatis怎样实现MySQL动态分页？</a></li>

					<li><a href="http://www.iteye.com/problems/94281"
						title="求教现在处理大数据量的web开发，框架选择">求教现在处理大数据量的web开发，框架选择</a></li>

					<li><a href="http://www.iteye.com/problems/94241"
						title="spring mvc3.2.2 请求访问不到方法">spring mvc3.2.2 请求访问不到方法</a></li>

					<li><a href="http://www.iteye.com/problems/94041"
						title="oracle动态表数据分页查询">oracle动态表数据分页查询</a></li>

					<li><a href="http://www.iteye.com/problems/94053"
						title="javascript：这里的this所示变量还有什么实际意义呢？">javascript：这里的this所示变...</a></li>

					<li><a href="http://www.iteye.com/problems/93800"
						title="如何将一个字符串格式化输出如下形式(123)456-7890">如何将一个字符串格式化输出如下形式(123...</a></li>

					<li><a href="http://www.iteye.com/problems/93328"
						title="请教ibatis和hibernate选择">请教ibatis和hibernate选择</a></li>

				</ul>
			</div>

			<div id="ask_list">
				<ul id="horiz_tabs">

					<li class="active">热门问题</li>

					<li><a href="http://www.iteye.com/problems/active">待解决问题</a></li>
					<li><a href="http://www.iteye.com/problems/solved">已解决问题</a></li>
				</ul>
				<div class="question-summary">
					<div class="statscontainer">
						<div class="statsarrow"></div>
						<div class="stats">
							<div class="vote">
								<div class="votes">
									<span class="vote_number">0</span>
									<p>票</p>
								</div>
							</div>
							<div class="status answered-accepted">
								<span class="ask_number">1</span>
								<p>回答</p>
							</div>
						</div>
						<div class="view gray">65 浏览</div>
					</div>
					<div class="summary">
						<h3>

							<a href="http://www.iteye.com/problems/95177">Hibernate
								级联数据异常</a><span class="score">30</span>

						</h3>

						<p>我要配置一个对多的关系 配置文件如下&lt;?xml version="1.0"?&gt; &lt;!DOCTYPE
							hibernate-mapping PUBLIC "-//Hibernate/Hibernate Mapping DTD//EN"
							"http://hibernate.sourceforge.net/hibernate-mapping ...</p>

						<div class="ask_label">
							<div class="tags">
								<a href="http://www.iteye.com/problems/tags/Hibernate">Hibernate</a>&nbsp;
							</div>
							<span class="gray">2013年5月16日 19:15</span>
						</div>
						<div class="user_info fr">
							<a href="http://jknmae.iteye.com/blog/answered_problems"><img
								alt="jknmae" class="logo"
								src="./ITeye问答频道_files/02161efd-8fc7-3aa7-901a-4eee83edc068-thumb.jpg"
								title="jknmae"></a> <span class="user_blog"><a
								href="http://jknmae.iteye.com/blog/answered_problems"
								title="jknmae">jknmae</a></span> <br> <span class="score gray"
								title="问答积分">0</span> <br> <span class="gold gray"
								title="金牌">0</span> <span class="silver gray" title="银牌">0</span>
							<span class="bronze gray" title="铜牌">2</span>

						</div>
					</div>
				</div>
				<div class="question-summary">
					<div class="statscontainer">
						<div class="statsarrow"></div>
						<div class="stats">
							<div class="vote">
								<div class="votes">
									<span class="vote_number">0</span>
									<p>票</p>
								</div>
							</div>
							<div class="status answered-accepted">
								<span class="ask_number">3</span>
								<p>回答</p>
							</div>
						</div>
						<div class="view gray">119 浏览</div>
					</div>
					<div class="summary">
						<h3>

							<a href="http://www.iteye.com/problems/95175">业务逻辑如果java技术和存储过程都可以实现，请问哪个技术好点，各有什么特点</a><span
								class="score">0</span>

						</h3>

						<p>如题</p>

						<div class="ask_label">
							<div class="tags">
								<a href="http://www.iteye.com/problems/tags/Java">Java</a><a
									href="http://www.iteye.com/problems/tags/%E6%95%B0%E6%8D%AE%E5%BA%93">数据库</a><a
									href="http://www.iteye.com/problems/tags/%E5%AD%98%E5%82%A8%E8%BF%87%E7%A8%8B">存储过程</a><a
									href="http://www.iteye.com/problems/tags/procedure">procedure</a>&nbsp;
							</div>
							<span class="gray">2013年5月16日 16:26</span>
						</div>
						<div class="user_info fr">
							<a href="http://kissangle.iteye.com/blog/answered_problems"><img
								alt="KissAngle" class="logo"
								src="./ITeye问答频道_files/c12013ba-dc4e-36d0-97cf-c0af9c5a163e-thumb.jpg"
								title="KissAngle"></a> <span class="user_blog"><a
								href="http://kissangle.iteye.com/blog/answered_problems"
								title="KissAngle">KissAngle</a></span> <br> <span
								class="score gray" title="问答积分">0</span> <br> <span
								class="gold gray" title="金牌">0</span> <span class="silver gray"
								title="银牌">0</span> <span class="bronze gray" title="铜牌">4</span>

						</div>
					</div>
				</div>
				<div class="question-summary">
					<div class="statscontainer">
						<div class="statsarrow"></div>
						<div class="stats">
							<div class="vote">
								<div class="votes">
									<span class="vote_number">0</span>
									<p>票</p>
								</div>
							</div>
							<div class="status answered-accepted">
								<span class="ask_number">2</span>
								<p>回答</p>
							</div>
						</div>
						<div class="view gray">15 浏览</div>
					</div>
					<div class="summary">
						<h3>

							<a href="http://www.iteye.com/problems/95179">oracle
								instantClient下如何使用sqlldr</a><span class="score">10</span>

						</h3>

						<p>
							不想装oracle庞大的客户端，就从官网下载了一个instantClient装上了，配置都没问题，ODBC、sqlplus都能用，主要是用pl/sql的，今天有新需求，需要用到sqlldr加载大数据，找了半天，window下instantClient好像没有解决方案，linux下到有，有谁做过这种事情，告诉小弟怎么弄，难道非得装oracle
							client full 不成？</p>

						<div class="ask_label">
							<div class="tags">
								<a
									href="http://www.iteye.com/problems/tags/%E6%95%B0%E6%8D%AE%E5%BA%93">数据库</a>&nbsp;
							</div>
							<span class="gray">2 小时前</span>
						</div>
						<div class="user_info fr">
							<a href="http://vissalan.iteye.com/blog/answered_problems"><img
								alt="vissalan" class="logo"
								src="./ITeye问答频道_files/user-logo-thumb.gif" title="vissalan"></a>
							<span class="user_blog"><a
								href="http://vissalan.iteye.com/blog/answered_problems"
								title="vissalan">vissalan</a></span> <br> <span class="score gray"
								title="问答积分">20</span> <br> <span class="gold gray"
								title="金牌">0</span> <span class="silver gray" title="银牌">0</span>
							<span class="bronze gray" title="铜牌">1</span>

						</div>
					</div>
				</div>
				<div class="question-summary">
					<div class="statscontainer">
						<div class="statsarrow"></div>
						<div class="stats">
							<div class="vote">
								<div class="votes">
									<span class="vote_number">0</span>
									<p>票</p>
								</div>
							</div>
							<div class="status answered-accepted">
								<span class="ask_number">3</span>
								<p>回答</p>
							</div>
						</div>
						<div class="view gray">83 浏览</div>
					</div>
					<div class="summary">
						<h3>

							<a href="http://www.iteye.com/problems/95168">有没有什么办法用程序把word转换为html，包括里面的图片</a><span
								class="score">10</span>

						</h3>

						<p>现在有点无头苍蝇在找，看看iteye有没有人知道？ 收费软件啥的都行，但必须能用程序调用，最好是java</p>

						<div class="ask_label">
							<div class="tags">&nbsp;</div>
							<span class="gray">2013年5月16日 15:10</span>
						</div>
						<div class="user_info fr">
							<a href="http://jorwen-fang.iteye.com/blog/answered_problems"><img
								alt="jorwen_fang" class="logo"
								src="./ITeye问答频道_files/320fe09d-92ae-4d72-8f88-aaa05f1d3544-thumb.jpg"
								title="jorwen_fang"></a> <span class="user_blog"><a
								href="http://jorwen-fang.iteye.com/blog/answered_problems"
								title="jorwen_fang">jorwen_fang</a></span> <br> <span
								class="score gray" title="问答积分">5</span> <br> <span
								class="gold gray" title="金牌">0</span> <span class="silver gray"
								title="银牌">0</span> <span class="bronze gray" title="铜牌">2</span>

						</div>
					</div>
				</div>
				<div class="question-summary">
					<div class="statscontainer">
						<div class="statsarrow"></div>
						<div class="stats">
							<div class="vote">
								<div class="votes">
									<span class="vote_number">0</span>
									<p>票</p>
								</div>
							</div>
							<div class="status answered-accepted">
								<span class="ask_number">1</span>
								<p>回答</p>
							</div>
						</div>
						<div class="view gray">204 浏览</div>
					</div>
					<div class="summary">
						<h3>

							<a href="http://www.iteye.com/problems/95176">java socket
								是全双工么？</a><span class="score">0</span>

						</h3>

						<p>java socket
							一个socket多线程收发消息和两个socket多线程一个socket负责发消息，另外一个负责收消息。这两种方式哪个效率高？
							另外NIO和阻塞式IO（socket）收发双工？ 我理解应该是全双工的，input和output是互不影响的，不会有锁之类的
							请大神们解答下，谢谢！</p>

						<div class="ask_label">
							<div class="tags">
								<a
									href="http://www.iteye.com/problems/tags/%E4%BC%81%E4%B8%9A%E5%BA%94%E7%94%A8">企业应用</a>&nbsp;
							</div>
							<span class="gray">2013年5月16日 16:40</span>
						</div>
						<div class="user_info fr">
							<a href="http://liu0013.iteye.com/blog/answered_problems"><img
								alt="liu0013" class="logo"
								src="./ITeye问答频道_files/user-logo-thumb.gif" title="liu0013"></a>
							<span class="user_blog"><a
								href="http://liu0013.iteye.com/blog/answered_problems"
								title="liu0013">liu0013</a></span> <br> <span class="score gray"
								title="问答积分">0</span> <br> <span class="gold gray"
								title="金牌">0</span> <span class="silver gray" title="银牌">0</span>
							<span class="bronze gray" title="铜牌">1</span>

						</div>
					</div>
				</div>
				<div class="question-summary">
					<div class="statscontainer">
						<div class="statsarrow"></div>
						<div class="stats">
							<div class="vote">
								<div class="votes">
									<span class="vote_number">0</span>
									<p>票</p>
								</div>
							</div>
							<div class="status answered-accepted">
								<span class="ask_number">4</span>
								<p>回答</p>
							</div>
						</div>
						<div class="view gray">43 浏览</div>
					</div>
					<div class="summary">
						<h3>

							<a href="http://www.iteye.com/problems/95160">spring+hibernate【运行程序报question
								is not mapped】是那的问题? </a><span class="score">0</span>

						</h3>

						<p>
							org.springframework.orm.hibernate3.HibernateQueryException:
							question is not mapped. [ select count(*) from question s ];
							nested exception is org.hibernate.hql.ast.QuerySyntaxException:
							question is not ...</p>

						<div class="ask_label">
							<div class="tags">
								<a href="http://www.iteye.com/problems/tags/Spring">Spring</a>&nbsp;
							</div>
							<span class="gray">2013年5月16日 13:35</span>
						</div>
						<div class="user_info fr">
							<a href="http://newstong1.iteye.com/blog/answered_problems"><img
								alt="newstong1" class="logo"
								src="./ITeye问答频道_files/user-logo-thumb.gif" title="newstong1"></a>
							<span class="user_blog"><a
								href="http://newstong1.iteye.com/blog/answered_problems"
								title="newstong1">newstong1</a></span> <br> <span
								class="score gray" title="问答积分">0</span> <br> <span
								class="gold gray" title="金牌">0</span> <span class="silver gray"
								title="银牌">0</span> <span class="bronze gray" title="铜牌">2</span>

						</div>
					</div>
				</div>
				<div class="question-summary">
					<div class="statscontainer">
						<div class="statsarrow"></div>
						<div class="stats">
							<div class="vote">
								<div class="votes">
									<span class="vote_number">0</span>
									<p>票</p>
								</div>
							</div>
							<div class="status answered-accepted">
								<span class="ask_number">4</span>
								<p>回答</p>
							</div>
						</div>
						<div class="view gray">403 浏览</div>
					</div>
					<div class="summary">
						<h3>

							<a href="http://www.iteye.com/problems/95146">spring
								mvc登陆功能如何实现较好？</a><span class="status">[已解决]</span><span
								class="score">5</span>

						</h3>

						<p>如题，使用什么样的方式实现登陆功能更好？
							我现在使用session，但是有个问题就是，在每个controller的每个方法中，都需要把session取出来，获取登陆后保存的用户信息，然后添加到ModelAndView中。
							重复代码很多，该如何解决？ 请问大家该如何实现较好？</p>

						<div class="ask_label">
							<div class="tags">&nbsp;</div>
							<span class="gray">2013年5月16日 00:51</span>
						</div>
						<div class="user_info fr">
							<a href="http://rooockyang.iteye.com/blog/answered_problems"><img
								alt="rooockyang" class="logo"
								src="./ITeye问答频道_files/user-logo-thumb.gif" title="rooockyang"></a>
							<span class="user_blog"><a
								href="http://rooockyang.iteye.com/blog/answered_problems"
								title="rooockyang">rooockyang</a></span> <br> <span
								class="score gray" title="问答积分">26</span> <br> <span
								class="gold gray" title="金牌">0</span> <span class="silver gray"
								title="银牌">0</span> <span class="bronze gray" title="铜牌">3</span>

						</div>
					</div>
				</div>
				<div class="question-summary">
					<div class="statscontainer">
						<div class="statsarrow"></div>
						<div class="stats">
							<div class="vote">
								<div class="votes">
									<span class="vote_number">0</span>
									<p>票</p>
								</div>
							</div>
							<div class="status answered-accepted">
								<span class="ask_number">0</span>
								<p>回答</p>
							</div>
						</div>
						<div class="view gray">3 浏览</div>
					</div>
					<div class="summary">
						<h3>

							<a href="http://www.iteye.com/problems/95181">在maven的pom里怎么配置cas</a><span
								class="score">0</span>

						</h3>

						<p>我要使用cas-server3.5.2 cas-client3.2.1 pom里怎么写？ 这么写报错：Missing
							artifact org.jasig.cas:cas-server:jar:3.5.2</p>

						<div class="ask_label">
							<div class="tags">
								<a
									href="http://www.iteye.com/problems/tags/cas%20sso%20%E5%8D%95%E7%82%B9">cas
									sso 单点</a>&nbsp;
							</div>
							<span class="gray">40 分钟前</span>
						</div>
						<div class="user_info fr">
							<a href="http://aaron3323.iteye.com/blog/answered_problems"><img
								alt="aaron3323" class="logo"
								src="./ITeye问答频道_files/user-logo-thumb.gif" title="aaron3323"></a>
							<span class="user_blog"><a
								href="http://aaron3323.iteye.com/blog/answered_problems"
								title="aaron3323">aaron3323</a></span> <br> <span
								class="score gray" title="问答积分">0</span> <br> <span
								class="gold gray" title="金牌">0</span> <span class="silver gray"
								title="银牌">0</span> <span class="bronze gray" title="铜牌">2</span>

						</div>
					</div>
				</div>
				<div class="question-summary">
					<div class="statscontainer">
						<div class="statsarrow"></div>
						<div class="stats">
							<div class="vote">
								<div class="votes">
									<span class="vote_number">0</span>
									<p>票</p>
								</div>
							</div>
							<div class="status answered-accepted">
								<span class="ask_number">0</span>
								<p>回答</p>
							</div>
						</div>
						<div class="view gray">6 浏览</div>
					</div>
					<div class="summary">
						<h3>

							<a href="http://www.iteye.com/problems/95180">myeclipse中项目启动问题</a><span
								class="score">0</span>

						</h3>

						<p>请问这是什么问题</p>

						<div class="ask_label">
							<div class="tags">
								<a href="http://www.iteye.com/problems/tags/Java">Java</a><a
									href="http://www.iteye.com/problems/tags/Struts">Struts</a>&nbsp;
							</div>
							<span class="gray">1 小时前</span>
						</div>
						<div class="user_info fr">
							<a href="http://sucbacon.iteye.com/blog/answered_problems"><img
								alt="sucbacon" class="logo"
								src="./ITeye问答频道_files/user-logo-thumb.gif" title="sucbacon"></a>
							<span class="user_blog"><a
								href="http://sucbacon.iteye.com/blog/answered_problems"
								title="sucbacon">sucbacon</a></span> <br> <span class="score gray"
								title="问答积分">2</span> <br> <span class="gold gray"
								title="金牌">0</span> <span class="silver gray" title="银牌">0</span>
							<span class="bronze gray" title="铜牌">3</span>

						</div>
					</div>
				</div>
				<div class="question-summary">
					<div class="statscontainer">
						<div class="statsarrow"></div>
						<div class="stats">
							<div class="vote">
								<div class="votes">
									<span class="vote_number">0</span>
									<p>票</p>
								</div>
							</div>
							<div class="status answered-accepted">
								<span class="ask_number">2</span>
								<p>回答</p>
							</div>
						</div>
						<div class="view gray">169 浏览</div>
					</div>
					<div class="summary">
						<h3>

							<a href="http://www.iteye.com/problems/95165">Java腾讯微博授权
								求大神接触疑惑 问题相当有份量</a><span class="score">0</span>

						</h3>

						<p>关于这个 在网上查到的资料都不是很多 并且重复的很多 大致做法分为两种形式
							第一种:http://wolf.nala.com.cn/?p=13#respond
							http://www.geelou.com/article/59.html
							第二种:http://blog.163.com/nice_2012/blog/static/19266614820130932435757/
							http://blog. ...</p>

						<div class="ask_label">
							<div class="tags">
								<a href="http://www.iteye.com/problems/tags/SpringMVC">SpringMVC</a><a
									href="http://www.iteye.com/problems/tags/oauth2.0">oauth2.0</a>&nbsp;
							</div>
							<span class="gray">2013年5月16日 14:40</span>
						</div>
						<div class="user_info fr">
							<a href="http://dbh0512.iteye.com/blog/answered_problems"><img
								alt="dbh0512" class="logo"
								src="./ITeye问答频道_files/9632052f-bb3c-3e8c-928e-6ef35ebdb4a7-thumb.png"
								title="dbh0512"></a> <span class="user_blog"><a
								href="http://dbh0512.iteye.com/blog/answered_problems"
								title="dbh0512">dbh0512</a></span> <br> <span class="score gray"
								title="问答积分">0</span> <br> <span class="gold gray"
								title="金牌">0</span> <span class="silver gray" title="银牌">0</span>
							<span class="bronze gray" title="铜牌">5</span>

						</div>
					</div>
				</div>
				<div class="question-summary">
					<div class="statscontainer">
						<div class="statsarrow"></div>
						<div class="stats">
							<div class="vote">
								<div class="votes">
									<span class="vote_number">0</span>
									<p>票</p>
								</div>
							</div>
							<div class="status answered-accepted">
								<span class="ask_number">3</span>
								<p>回答</p>
							</div>
						</div>
						<div class="view gray">79 浏览</div>
					</div>
					<div class="summary">
						<h3>

							<a href="http://www.iteye.com/problems/95159">一个关于SpringMVC中Controller的方法接收参数的问题</a><span
								class="score">10</span>

						</h3>

						<p>我是springMVC的初学者，最近碰到一个问题 ，还请大伙帮忙看看。 在我的一个Controller里这样一个方法，
							@RequestMapping("test.do") @ResponseBody public boolean
							test(String test,@RequestBody TMailAccount account){
							System.out.println(ac ...</p>

						<div class="ask_label">
							<div class="tags">
								<a href="http://www.iteye.com/problems/tags/Spring">Spring</a>&nbsp;
							</div>
							<span class="gray">2013年5月16日 13:32</span>
						</div>
						<div class="user_info fr">
							<a href="http://huangzixun.iteye.com/blog/answered_problems"><img
								alt="huangzixun" class="logo"
								src="./ITeye问答频道_files/57c7526e-5986-33eb-9633-ba4858eb0189-thumb.jpg"
								title="huangzixun"></a> <span class="user_blog"><a
								href="http://huangzixun.iteye.com/blog/answered_problems"
								title="huangzixun">huangzixun</a></span> <br> <span
								class="score gray" title="问答积分">6</span> <br> <span
								class="gold gray" title="金牌">0</span> <span class="silver gray"
								title="银牌">0</span> <span class="bronze gray" title="铜牌">2</span>

						</div>
					</div>
				</div>
				<div class="question-summary">
					<div class="statscontainer">
						<div class="statsarrow"></div>
						<div class="stats">
							<div class="vote">
								<div class="votes">
									<span class="vote_number">0</span>
									<p>票</p>
								</div>
							</div>
							<div class="status answered-accepted">
								<span class="ask_number">2</span>
								<p>回答</p>
							</div>
						</div>
						<div class="view gray">160 浏览</div>
					</div>
					<div class="summary">
						<h3>

							<a href="http://www.iteye.com/problems/95145">spring mvc
								配置servlet 时 url-pattern 为什么配置 /* 不可以 而配置 / 则没问题呢</a><span
								class="score">5</span>

						</h3>

						<p>我看很多都是说 拦截/*可以都到action中
							但是到jsp时又再次被拦截,但是为什么/就没问题呢,谁能帮忙给解释下这个过程具体是怎么样的,多谢!</p>

						<div class="ask_label">
							<div class="tags">
								<a href="http://www.iteye.com/problems/tags/spring%20mvc">spring
									mvc</a>&nbsp;
							</div>
							<span class="gray">2013年5月15日 21:22</span>
						</div>
						<div class="user_info fr">
							<a href="http://sunyoush.iteye.com/blog/answered_problems"><img
								alt="sunyoush" class="logo"
								src="./ITeye问答频道_files/user-logo-thumb.gif" title="sunyoush"></a>
							<span class="user_blog"><a
								href="http://sunyoush.iteye.com/blog/answered_problems"
								title="sunyoush">sunyoush</a></span> <br> <span class="score gray"
								title="问答积分">20</span> <br> <span class="gold gray"
								title="金牌">0</span> <span class="silver gray" title="银牌">0</span>
							<span class="bronze gray" title="铜牌">2</span>

						</div>
					</div>
				</div>
				<div class="question-summary">
					<div class="statscontainer">
						<div class="statsarrow"></div>
						<div class="stats">
							<div class="vote">
								<div class="votes">
									<span class="vote_number">0</span>
									<p>票</p>
								</div>
							</div>
							<div class="status answered-accepted">
								<span class="ask_number">3</span>
								<p>回答</p>
							</div>
						</div>
						<div class="view gray">133 浏览</div>
					</div>
					<div class="summary">
						<h3>

							<a href="http://www.iteye.com/problems/95142">外包和非外包</a><span
								class="score">5</span>

						</h3>

						<p>工作三年多一点 现有两个offer，一个是在南山科技园，一个在关外宝安那里。南山的8.5
							，1+x年终奖，宝安的那个外包给10说是有一个月年终奖.但是关外的感觉太远了。应该选择那个呢？求意见。。。</p>

						<div class="ask_label">
							<div class="tags">&nbsp;</div>
							<span class="gray">2013年5月15日 20:04</span>
						</div>
						<div class="user_info fr">
							<a href="http://enjoy2010.iteye.com/blog/answered_problems"><img
								alt="enjoy2010" class="logo"
								src="./ITeye问答频道_files/8c09ba34-633f-332d-93af-e4e87f9f5b65-thumb.gif"
								title="enjoy2010"></a> <span class="user_blog"><a
								href="http://enjoy2010.iteye.com/blog/answered_problems"
								title="enjoy2010">enjoy2010</a></span> <br> <span
								class="score gray" title="问答积分">15</span> <br> <span
								class="gold gray" title="金牌">0</span> <span class="silver gray"
								title="银牌">0</span> <span class="bronze gray" title="铜牌">3</span>

						</div>
					</div>
				</div>
				<div class="question-summary">
					<div class="statscontainer">
						<div class="statsarrow"></div>
						<div class="stats">
							<div class="vote">
								<div class="votes">
									<span class="vote_number">0</span>
									<p>票</p>
								</div>
							</div>
							<div class="status answered-accepted">
								<span class="ask_number">3</span>
								<p>回答</p>
							</div>
						</div>
						<div class="view gray">123 浏览</div>
					</div>
					<div class="summary">
						<h3>

							<a href="http://www.iteye.com/problems/95130">struts2.0
								的表单action怎么设定路径何处打开</a><span class="score">0</span>

						</h3>

						<p>HTML
							的a标签很好，路径可以设置何处打开，比如target="_blank"新页面，target="_parent"父框架中等，form表单的action怎么设置啊，比如我要提交表单时判断用户是否登入，没有登入则跳到新窗口登入页面，还有struts.xml的跳转路径type="redirect"时设定何处打开页面怎么设置啊，求解，谢谢帮
							...</p>

						<div class="ask_label">
							<div class="tags">
								<a href="http://www.iteye.com/problems/tags/Struts">Struts</a>&nbsp;
							</div>
							<span class="gray">2013年5月15日 17:16</span>
						</div>
						<div class="user_info fr">
							<a href="http://higherzjm.iteye.com/blog/answered_problems"><img
								alt="higherzjm" class="logo"
								src="./ITeye问答频道_files/user-logo-thumb.gif" title="higherzjm"></a>
							<span class="user_blog"><a
								href="http://higherzjm.iteye.com/blog/answered_problems"
								title="higherzjm">higherzjm</a></span> <br> <span
								class="score gray" title="问答积分">0</span> <br> <span
								class="gold gray" title="金牌">0</span> <span class="silver gray"
								title="银牌">0</span> <span class="bronze gray" title="铜牌">1</span>

						</div>
					</div>
				</div>
				<div class="question-summary">
					<div class="statscontainer">
						<div class="statsarrow"></div>
						<div class="stats">
							<div class="vote">
								<div class="votes">
									<span class="vote_number">0</span>
									<p>票</p>
								</div>
							</div>
							<div class="status answered-accepted">
								<span class="ask_number">0</span>
								<p>回答</p>
							</div>
						</div>
						<div class="view gray">29 浏览</div>
					</div>
					<div class="summary">
						<h3>

							<a href="http://www.iteye.com/problems/95178">首页面两个框底部对齐的问题。</a><span
								class="score">5</span>

						</h3>

						<p>以5w.com程序的基础上，
							修改了一些内容（http://hege123.com/），结果发现左边的框的下面的线和右边的框的下面的线不齐，本人菜鸟，帮忙看一下。
							我想左边的框对齐右边的框， 以右边的为基准。我贴一下代码，不知是不是注意几个text-align就好了。
							一共有六个text-align（红字字体）。 不知道要修改哪一个。我截了部分代码下来。谢谢了。
							&lt;?{$smarty.cons ...</p>

						<div class="ask_label">
							<div class="tags">
								<a href="http://www.iteye.com/problems/tags/%E5%AF%B9%E9%BD%90">对齐</a><a
									href="http://www.iteye.com/problems/tags/%E6%A1%86%E5%BA%95%E9%83%A8">框底部</a>&nbsp;
							</div>
							<span class="gray">7 小时前</span>
						</div>
						<div class="user_info fr">
							<a href="http://greatdane.iteye.com/blog/answered_problems"><img
								alt="greatdane" class="logo"
								src="./ITeye问答频道_files/user-logo-thumb.gif" title="greatdane"></a>
							<span class="user_blog"><a
								href="http://greatdane.iteye.com/blog/answered_problems"
								title="greatdane">greatdane</a></span> <br> <span
								class="score gray" title="问答积分">15</span> <br> <span
								class="gold gray" title="金牌">0</span> <span class="silver gray"
								title="银牌">0</span> <span class="bronze gray" title="铜牌">1</span>

						</div>
					</div>
				</div>
				<div class="question-summary">
					<div class="statscontainer">
						<div class="statsarrow"></div>
						<div class="stats">
							<div class="vote">
								<div class="votes">
									<span class="vote_number">0</span>
									<p>票</p>
								</div>
							</div>
							<div class="status answered-accepted">
								<span class="ask_number">2</span>
								<p>回答</p>
							</div>
						</div>
						<div class="view gray">61 浏览</div>
					</div>
					<div class="summary">
						<h3>

							<a href="http://www.iteye.com/problems/95140">extjs
								树获取checkColumn列选中的值</a><span class="score">5</span>

						</h3>

						<p>如题需求，目前完成页面如下： 怎么能获取某一列选中的树的id 例如：获取全部一列已经勾选的树的id
							alert出（Product、彩色通稿、黑白通稿、RS以及体育专线等节点的id） 谢谢。</p>

						<div class="ask_label">
							<div class="tags">
								<a href="http://www.iteye.com/problems/tags/JavaScript">JavaScript</a>&nbsp;
							</div>
							<span class="gray">2013年5月15日 18:01</span>
						</div>
						<div class="user_info fr">
							<a href="http://liuqiang2415.iteye.com/blog/answered_problems"><img
								alt="liuqiang2415" class="logo"
								src="./ITeye问答频道_files/user-logo-thumb.gif" title="liuqiang2415"></a>
							<span class="user_blog"><a
								href="http://liuqiang2415.iteye.com/blog/answered_problems"
								title="liuqiang2415">liuqiang2415</a></span> <br> <span
								class="score gray" title="问答积分">15</span> <br> <span
								class="gold gray" title="金牌">0</span> <span class="silver gray"
								title="银牌">0</span> <span class="bronze gray" title="铜牌">2</span>

						</div>
					</div>
				</div>
				<div class="question-summary">
					<div class="statscontainer">
						<div class="statsarrow"></div>
						<div class="stats">
							<div class="vote">
								<div class="votes">
									<span class="vote_number">0</span>
									<p>票</p>
								</div>
							</div>
							<div class="status answered-accepted">
								<span class="ask_number">2</span>
								<p>回答</p>
							</div>
						</div>
						<div class="view gray">72 浏览</div>
					</div>
					<div class="summary">
						<h3>

							<a href="http://www.iteye.com/problems/95172">关于SpringMVC的访问问题</a><span
								class="score">5</span>

						</h3>

						<p>我的项目结构中有这样一个jsp放在webroot/web-info/jsp/website/home/top.jsp
							当我在IE中输入http://localhost:8080/obj/hometop/top 的时候就会访问到这个jsp。这是为啥？
							spring里面有配置 &lt;bean
							class="org.springframework.web.servlet.view.Int ...</p>

						<div class="ask_label">
							<div class="tags">&nbsp;</div>
							<span class="gray">2013年5月16日 15:40</span>
						</div>
						<div class="user_info fr">
							<a href="http://493420337.iteye.com/blog/answered_problems"><img
								alt="心动音符" class="logo"
								src="./ITeye问答频道_files/4e730b3f-3147-3292-9165-a91431987b99-thumb.jpg"
								title="心动音符"></a> <span class="user_blog"><a
								href="http://493420337.iteye.com/blog/answered_problems"
								title="心动音符">心动音符</a></span> <br> <span class="score gray"
								title="问答积分">2</span> <br> <span class="gold gray"
								title="金牌">0</span> <span class="silver gray" title="银牌">0</span>
							<span class="bronze gray" title="铜牌">2</span>

						</div>
					</div>
				</div>
				<div class="question-summary">
					<div class="statscontainer">
						<div class="statsarrow"></div>
						<div class="stats">
							<div class="vote">
								<div class="votes">
									<span class="vote_number">0</span>
									<p>票</p>
								</div>
							</div>
							<div class="status answered-accepted">
								<span class="ask_number">1</span>
								<p>回答</p>
							</div>
						</div>
						<div class="view gray">36 浏览</div>
					</div>
					<div class="summary">
						<h3>

							<a href="http://www.iteye.com/problems/95153">ORACLE SELECT
								解析问题</a><span class="score">5</span>

						</h3>

						<p>create table T_GAGENCYCODEMAP ( ITEMID NUMBER(9) not null,
							SAAMTID NUMBER(9) not null, GATHERINGAGENCYID NUMBER(9) not null,
							GATHERINGBANKACCTID NUMBER(9) ) create table T_PUBAGENCY ( ITEMID
							NUMBE ...</p>

						<div class="ask_label">
							<div class="tags">
								<a href="http://www.iteye.com/problems/tags/Oracle">Oracle</a><a
									href="http://www.iteye.com/problems/tags/%E6%95%B0%E6%8D%AE%E5%BA%93">数据库</a>&nbsp;
							</div>
							<span class="gray">2013年5月16日 10:58</span>
						</div>
						<div class="user_info fr">
							<a href="http://josunmarks.iteye.com/blog/answered_problems"><img
								alt="josunmarks" class="logo"
								src="./ITeye问答频道_files/user-logo-thumb.gif" title="josunmarks"></a>
							<span class="user_blog"><a
								href="http://josunmarks.iteye.com/blog/answered_problems"
								title="josunmarks">josunmarks</a></span> <br> <span
								class="score gray" title="问答积分">20</span> <br> <span
								class="gold gray" title="金牌">0</span> <span class="silver gray"
								title="银牌">0</span> <span class="bronze gray" title="铜牌">1</span>

						</div>
					</div>
				</div>
			</div>

			<div class="pagination" total_entries="88077">
				<span class="disabled prev_page">« 上一页</span> <span class="current">1</span>
				<a href="http://www.iteye.com/ask?page=2" rel="next">2</a> <a
					href="http://www.iteye.com/ask?page=3">3</a> <span class="gap">…</span>
				<a href="http://www.iteye.com/ask?page=4893">4893</a> <a
					href="http://www.iteye.com/ask?page=4894">4894</a> <a
					href="http://www.iteye.com/ask?page=2" class="next_page" rel="next">下一页
					»</a>
			</div>

			<div class="problem_list"></div>
			<div class="problem_list">
				<div class="nav" style="height: 30px;"></div>
			</div>



		</div>
		<div id="local">

			<div class="search column">
				<form action="http://www.iteye.com/problems/search" method="get">
					<input class="text" id="query" name="query" style="width: 135px;"
						type="text" value=""> <input class="submit" type="submit"
						value="搜索问题">
				</form>
			</div>

			<div id="guild">
				<div class="guild">
					<ul>
						<li class="open"><span> 315 </span><a
							href="http://www.iteye.com/problems/active">待解决问题</a></li>
						<li class="close"><span> 24539 </span><a
							href="http://www.iteye.com/problems/solved">已解决问题</a></li>
						<li class="hot"><span> 88077 </span> <a
							href="http://www.iteye.com/problems/hot">热门问题</a></li>
					</ul>
				</div>
			</div>
			<div class="my">
				<a href="http://www.iteye.com/problems/new" alt="我要提问" title="我要提问"><img
					alt="Ask-but" src="./ITeye问答频道_files/ask-but.gif"></a> <br>
				<div class="ask_but">

					<span class="my_ask"><a
						href="http://ora10.iteye.com/blog/answered_problems">我的问答</a></span> <span
						class="help"> <a href="http://www.iteye.com/problems/faq"
						title="FAQ">FAQ</a> | <a
						href="http://www.iteye.com/problems/medals">勋章</a></span>
				</div>
			</div>

			<div class="tags column">
				<h3>问答分类</h3>

				<h4>
					<a href="http://www.iteye.com/problems/forums/mobile">移动开发技术</a>
				</h4>

				<a href="http://www.iteye.com/problems/tags/Android">Android</a> <a
					href="http://www.iteye.com/problems/tags/iOS">iOS</a> <a
					href="http://www.iteye.com/problems/tags/wp7">wp7</a>


				<h4>
					<a href="http://www.iteye.com/problems/forums/web">Web前端技术</a>
				</h4>

				<a href="http://www.iteye.com/problems/tags/JavaScript">JavaScript</a>

				<a href="http://www.iteye.com/problems/tags/HTML5">HTML5</a> <a
					href="http://www.iteye.com/problems/tags/jQuery">jQuery</a> <a
					href="http://www.iteye.com/problems/tags/CSS">CSS</a>


				<h4>
					<a href="http://www.iteye.com/problems/forums/Java">Java企业应用</a>
				</h4>

				<a href="http://www.iteye.com/problems/tags/Hibernate">Hibernate</a>

				<a href="http://www.iteye.com/problems/tags/Spring">Spring</a> <a
					href="http://www.iteye.com/problems/tags/Struts">Struts</a> <a
					href="http://www.iteye.com/problems/tags/iBATIS">iBATIS</a> <a
					href="http://www.iteye.com/problems/tags/%E4%BC%81%E4%B8%9A%E5%BA%94%E7%94%A8">企业应用</a>

				<a href="http://www.iteye.com/problems/tags/Lucene">Lucene</a> <a
					href="http://www.iteye.com/problems/tags/SOA">SOA</a>


				<h4>
					<a href="http://www.iteye.com/problems/forums/language">编程语言技术</a>
				</h4>

				<a href="http://www.iteye.com/problems/tags/Ruby">Ruby</a> <a
					href="http://www.iteye.com/problems/tags/Python">Python</a> <a
					href="http://www.iteye.com/problems/tags/PHP">PHP</a> <a
					href="http://www.iteye.com/problems/tags/Flash">Flash</a> <a
					href="http://www.iteye.com/problems/tags/C++">C++</a> <a
					href="http://www.iteye.com/problems/tags/.net">.net</a>


				<h4>
					<a href="http://www.iteye.com/problems/forums/Tech">综合技术</a>
				</h4>

				<a href="http://www.iteye.com/problems/tags/Linux">Linux</a> <a
					href="http://www.iteye.com/problems/tags/%E6%95%B0%E6%8D%AE%E5%BA%93">数据库</a>

				<a
					href="http://www.iteye.com/problems/tags/%E6%95%8F%E6%8D%B7%E7%BC%96%E7%A8%8B">敏捷编程</a>

				<a
					href="http://www.iteye.com/problems/tags/%E6%95%B0%E6%8D%AE%E7%BB%93%E6%9E%84">数据结构</a>

				<a
					href="http://www.iteye.com/problems/tags/%E8%BD%AF%E4%BB%B6%E6%B5%8B%E8%AF%95">软件测试</a>

				<a
					href="http://www.iteye.com/problems/tags/%E9%A1%B9%E7%9B%AE%E7%AE%A1%E7%90%86">项目管理</a>


				<h4>
					<a href="http://www.iteye.com/problems/forums/New">入门技术</a>
				</h4>


				<h4>
					<a href="http://www.iteye.com/problems/forums/Job">招聘求职</a>
				</h4>


				<h4>
					<a href="http://www.iteye.com/problems/forums/Life">海阔天空</a>
				</h4>


			</div>
			<div class="column">
				<h3>最新问题</h3>
				<ul class="new_ask">

					<li><a href="http://www.iteye.com/problems/95181">在maven的pom里怎么配置cas</a></li>

					<li><a href="http://www.iteye.com/problems/95180">myeclipse中项目启动问题</a></li>

					<li><a href="http://www.iteye.com/problems/95179">oracle
							instantClient下如何使用sqlldr</a></li>

					<li><a href="http://www.iteye.com/problems/95178">首页面两个框底部对齐的问题。</a></li>

					<li><a href="http://www.iteye.com/problems/95177">Hibernate
							级联数据异常</a></li>

					<li><a href="http://www.iteye.com/problems/95176">java
							socket 是全双工么？</a></li>

					<li><a href="http://www.iteye.com/problems/95175">业务逻辑如果java技术和存储过程都可以实现，请问哪个技术好点，各有什么特点</a></li>

					<li><a href="http://www.iteye.com/problems/95174">java播放音乐
					</a></li>

					<li><a href="http://www.iteye.com/problems/95173">Oracle
							merge的多组匹配条件该怎么写？</a></li>

					<li><a href="http://www.iteye.com/problems/95172">关于SpringMVC的访问问题</a></li>

				</ul>
			</div>
			<div class="column">
				<h3>排行榜</h3>
				<ul class="blogs_tab">
					<li class="tab selected" id="blog_hot_tab_week"><a
						href="javascript:void(0);" onclick="show_hot_blog(&#39;week&#39;)">周榜</a></li>
					<li class="tab" id="blog_hot_tab_month"><a
						href="javascript:void(0);"
						onclick="show_hot_blog(&#39;month&#39;)">月榜</a></li>
					<li class="tab" id="blog_hot_tab_all"><a
						href="javascript:void(0);" onclick="show_hot_blog(&#39;all&#39;)">总榜</a></li>
				</ul>

				<ul class="ask_top" id="blog_hot_week">


					<li class="top_1"><span class="ranking"></span>
						<div class="user_top">
							<a href="http://ddlgyq.iteye.com/blog/answered_problems"><img
								alt="ddlgyq" class="logo"
								src="./ITeye问答频道_files/a5af09f1-55cb-3e24-853f-9242e3623b97-thumb.jpg"
								title="ddlgyq"></a> <span><a
								href="http://ddlgyq.iteye.com/blog/answered_problems"
								title="ddlgyq">ddlgyq</a></span> <br> <span class="score"
								title="问答积分">60</span> <span class="growth_text" title="周增长积分">30<img
								class="growth" src="./ITeye问答频道_files/growth.gif" alt="周增长积分"></span>
						</div></li>


					<li class="top_2"><span class="ranking"></span>
						<div class="user_top">
							<a href="http://zyn010101.iteye.com/blog/answered_problems"><img
								alt="zyn010101" class="logo"
								src="./ITeye问答频道_files/cc7aff41-56da-30db-ad20-3b5b2bc60e30-thumb.gif"
								title="zyn010101"></a> <span><a
								href="http://zyn010101.iteye.com/blog/answered_problems"
								title="zyn010101">zyn010101</a></span> <br> <span class="score"
								title="问答积分">1069</span> <span class="growth_text" title="周增长积分">20<img
								class="growth" src="./ITeye问答频道_files/growth.gif" alt="周增长积分"></span>
						</div></li>


					<li class="top_3"><span class="ranking"></span>
						<div class="user_top">
							<a href="http://sprite311.iteye.com/blog/answered_problems"><img
								alt="sprite311" class="logo"
								src="./ITeye问答频道_files/user-logo-thumb.gif" title="sprite311"></a>
							<span><a
								href="http://sprite311.iteye.com/blog/answered_problems"
								title="sprite311">sprite311</a></span> <br> <span class="score"
								title="问答积分">22</span> <span class="growth_text" title="周增长积分">20<img
								class="growth" src="./ITeye问答频道_files/growth.gif" alt="周增长积分"></span>
						</div></li>


					<li class="top_4"><span class="ranking"></span>
						<div class="user_top">

							<span><a
								href="http://jinnianshilongnian.iteye.com/blog/answered_problems"
								title="jinnianshilongnian">jinnianshilongnian</a></span> <span
								class="score" title="问答积分">6687</span> <span class="growth_text"
								title="周增长积分">20<img class="growth"
								src="./ITeye问答频道_files/growth.gif" alt="周增长积分"></span>
						</div></li>


					<li class="top_5"><span class="ranking"></span>
						<div class="user_top">

							<span><a
								href="http://netkiller-github-com.iteye.com/blog/answered_problems"
								title="netkiller.github.com">netkiller.github.com</a></span> <span
								class="score" title="问答积分">10</span> <span class="growth_text"
								title="周增长积分">10<img class="growth"
								src="./ITeye问答频道_files/growth.gif" alt="周增长积分"></span>
						</div></li>


					<li class="top_6"><span class="ranking"></span>
						<div class="user_top">

							<span><a
								href="http://itway.iteye.com/blog/answered_problems"
								title="hyneng">hyneng</a></span> <span class="score" title="问答积分">25</span>
							<span class="growth_text" title="周增长积分">10<img
								class="growth" src="./ITeye问答频道_files/growth.gif" alt="周增长积分"></span>
						</div></li>


					<li class="top_7"><span class="ranking"></span>
						<div class="user_top">

							<span><a
								href="http://ygydaiaq-gmail-com.iteye.com/blog/answered_problems"
								title="须等待">须等待</a></span> <span class="score" title="问答积分">15</span> <span
								class="growth_text" title="周增长积分">10<img class="growth"
								src="./ITeye问答频道_files/growth.gif" alt="周增长积分"></span>
						</div></li>


					<li class="top_8"><span class="ranking"></span>
						<div class="user_top">

							<span><a
								href="http://dead-knight.iteye.com/blog/answered_problems"
								title="Dead_knight">Dead_knight</a></span> <span class="score"
								title="问答积分">1127</span> <span class="growth_text" title="周增长积分">10<img
								class="growth" src="./ITeye问答频道_files/growth.gif" alt="周增长积分"></span>
						</div></li>


					<li class="top_9"><span class="ranking"></span>
						<div class="user_top">

							<span><a
								href="http://zhanghh315.iteye.com/blog/answered_problems"
								title="zhanghh315">zhanghh315</a></span> <span class="score"
								title="问答积分">25</span> <span class="growth_text" title="周增长积分">10<img
								class="growth" src="./ITeye问答频道_files/growth.gif" alt="周增长积分"></span>
						</div></li>


					<li class="top_10"><span class="ranking"></span>
						<div class="user_top">

							<span><a
								href="http://kidding87.iteye.com/blog/answered_problems"
								title="kidding87">kidding87</a></span> <span class="score" title="问答积分">1521</span>
							<span class="growth_text" title="周增长积分">10<img
								class="growth" src="./ITeye问答频道_files/growth.gif" alt="周增长积分"></span>
						</div></li>

					<a href="http://www.iteye.com/problems/week_top_users"
						style="margin: -5px 5px 5px 130px; display: block;">查看全部排名&gt;&gt;</a>
				</ul>
				<ul class="ask_top" id="blog_hot_month" style="display: none;">


					<li class="top_1"><span class="ranking"></span>
						<div class="user_top">
							<a
								href="http://jinnianshilongnian.iteye.com/blog/answered_problems"><img
								alt="jinnianshilongnian" class="logo"
								src="./ITeye问答频道_files/ee339a00-9a69-3877-9812-0e9dbcbb46ef-thumb.jpg"
								title="jinnianshilongnian"></a> <span><a
								href="http://jinnianshilongnian.iteye.com/blog/answered_problems"
								title="jinnianshilongnian">jinnianshilongnian</a></span> <br> <span
								class="score" title="问答积分">6687</span> <span class="growth_text"
								title="月增长积分">262<img class="growth"
								src="./ITeye问答频道_files/growth.gif" alt="月增长积分"></span>
						</div></li>


					<li class="top_2"><span class="ranking"></span>
						<div class="user_top">
							<a href="http://dead-knight.iteye.com/blog/answered_problems"><img
								alt="Dead_knight" class="logo"
								src="./ITeye问答频道_files/75513a5f-7291-3ee1-bef5-30ed55a1912e-thumb.png"
								title="Dead_knight"></a> <span><a
								href="http://dead-knight.iteye.com/blog/answered_problems"
								title="Dead_knight">Dead_knight</a></span> <br> <span
								class="score" title="问答积分">1127</span> <span class="growth_text"
								title="月增长积分">106<img class="growth"
								src="./ITeye问答频道_files/growth.gif" alt="月增长积分"></span>
						</div></li>


					<li class="top_3"><span class="ranking"></span>
						<div class="user_top">
							<a href="http://yunzhu.iteye.com/blog/answered_problems"><img
								alt="yunzhu" class="logo"
								src="./ITeye问答频道_files/fc016643-ad2e-337d-b283-415620b2b820-thumb.jpg"
								title="yunzhu"></a> <span><a
								href="http://yunzhu.iteye.com/blog/answered_problems"
								title="yunzhu">yunzhu</a></span> <br> <span class="score"
								title="问答积分">381</span> <span class="growth_text" title="月增长积分">93<img
								class="growth" src="./ITeye问答频道_files/growth.gif" alt="月增长积分"></span>
						</div></li>


					<li class="top_4"><span class="ranking"></span>
						<div class="user_top">

							<span><a
								href="http://zyn010101.iteye.com/blog/answered_problems"
								title="zyn010101">zyn010101</a></span> <span class="score" title="问答积分">1069</span>
							<span class="growth_text" title="月增长积分">57<img
								class="growth" src="./ITeye问答频道_files/growth.gif" alt="月增长积分"></span>
						</div></li>


					<li class="top_5"><span class="ranking"></span>
						<div class="user_top">

							<span><a
								href="http://clxy.iteye.com/blog/answered_problems" title="clxy">clxy</a></span>

							<span class="score" title="问答积分">626</span> <span
								class="growth_text" title="月增长积分">45<img class="growth"
								src="./ITeye问答频道_files/growth.gif" alt="月增长积分"></span>
						</div></li>


					<li class="top_6"><span class="ranking"></span>
						<div class="user_top">

							<span><a
								href="http://ddlgyq.iteye.com/blog/answered_problems"
								title="ddlgyq">ddlgyq</a></span> <span class="score" title="问答积分">60</span>
							<span class="growth_text" title="月增长积分">40<img
								class="growth" src="./ITeye问答频道_files/growth.gif" alt="月增长积分"></span>
						</div></li>


					<li class="top_7"><span class="ranking"></span>
						<div class="user_top">

							<span><a
								href="http://diaozhanming.iteye.com/blog/answered_problems"
								title="diaozhanming">diaozhanming</a></span> <span class="score"
								title="问答积分">91</span> <span class="growth_text" title="月增长积分">25<img
								class="growth" src="./ITeye问答频道_files/growth.gif" alt="月增长积分"></span>
						</div></li>


					<li class="top_8"><span class="ranking"></span>
						<div class="user_top">

							<span><a
								href="http://anduo.iteye.com/blog/answered_problems"
								title="anduo1989">anduo1989</a></span> <span class="score" title="问答积分">35</span>
							<span class="growth_text" title="月增长积分">20<img
								class="growth" src="./ITeye问答频道_files/growth.gif" alt="月增长积分"></span>
						</div></li>


					<li class="top_9"><span class="ranking"></span>
						<div class="user_top">

							<span><a
								href="http://sprite311.iteye.com/blog/answered_problems"
								title="sprite311">sprite311</a></span> <span class="score" title="问答积分">22</span>
							<span class="growth_text" title="月增长积分">12<img
								class="growth" src="./ITeye问答频道_files/growth.gif" alt="月增长积分"></span>
						</div></li>


					<li class="top_10"><span class="ranking"></span>
						<div class="user_top">

							<span><a
								href="http://netkiller-github-com.iteye.com/blog/answered_problems"
								title="netkiller.github.com">netkiller.github.com</a></span> <span
								class="score" title="问答积分">10</span> <span class="growth_text"
								title="月增长积分">10<img class="growth"
								src="./ITeye问答频道_files/growth.gif" alt="月增长积分"></span>
						</div></li>

					<a href="http://www.iteye.com/problems/month_top_users"
						style="margin: -5px 5px 5px 130px; display: block;">查看全部排名&gt;&gt;</a>
				</ul>
				<ul class="ask_top" id="blog_hot_all" style="display: none;">

					<li class="top_1"><span class="ranking"></span>
						<div class="user_top">
							<a href="http://lovewhzlq.iteye.com/blog/answered_problems"><img
								alt="lovewhzlq" class="logo"
								src="./ITeye问答频道_files/680e45b7-ce64-375b-9bc8-31a33e5637ab-thumb.jpg"
								title="lovewhzlq"></a> <span><a
								href="http://lovewhzlq.iteye.com/blog/answered_problems"
								title="lovewhzlq">lovewhzlq</a></span> <br> <span class="score"
								title="问答积分">13935</span> <span style="display: none"
								class="growth_text" title="周增长积分"><img class="growth"
								src="./ITeye问答频道_files/growth.gif" alt="月增长积分"></span>
						</div></li>

					<li class="top_2"><span class="ranking"></span>
						<div class="user_top">
							<a
								href="http://jinnianshilongnian.iteye.com/blog/answered_problems"><img
								alt="jinnianshilongnian" class="logo"
								src="./ITeye问答频道_files/ee339a00-9a69-3877-9812-0e9dbcbb46ef-thumb.jpg"
								title="jinnianshilongnian"></a> <span><a
								href="http://jinnianshilongnian.iteye.com/blog/answered_problems"
								title="jinnianshilongnian">jinnianshilongnian</a></span> <br> <span
								class="score" title="问答积分">6687</span> <span
								style="display: none" class="growth_text" title="周增长积分"><img
								class="growth" src="./ITeye问答频道_files/growth.gif" alt="月增长积分"></span>
						</div></li>

					<li class="top_3"><span class="ranking"></span>
						<div class="user_top">
							<a href="http://yourgame.iteye.com/blog/answered_problems"><img
								alt="yourgame" class="logo"
								src="./ITeye问答频道_files/f5d00197-09d2-34ed-aced-da6281a0699e-thumb.jpg"
								title="yourgame"></a> <span><a
								href="http://yourgame.iteye.com/blog/answered_problems"
								title="yourgame">yourgame</a></span> <br> <span class="score"
								title="问答积分">5183</span> <span style="display: none"
								class="growth_text" title="周增长积分"><img class="growth"
								src="./ITeye问答频道_files/growth.gif" alt="月增长积分"></span>
						</div></li>

					<li class="top_4"><span class="ranking"></span>
						<div class="user_top">

							<span><a
								href="http://huajiang.iteye.com/blog/answered_problems"
								title="蔡华江">蔡华江</a></span> <span class="score" title="问答积分">3392</span>
							<span style="display: none" class="growth_text" title="周增长积分"><img
								class="growth" src="./ITeye问答频道_files/growth.gif" alt="月增长积分"></span>
						</div></li>

					<li class="top_5"><span class="ranking"></span>
						<div class="user_top">

							<span><a
								href="http://suziwen.iteye.com/blog/answered_problems"
								title="suziwen">suziwen</a></span> <span class="score" title="问答积分">3142</span>
							<span style="display: none" class="growth_text" title="周增长积分"><img
								class="growth" src="./ITeye问答频道_files/growth.gif" alt="月增长积分"></span>
						</div></li>

					<li class="top_6"><span class="ranking"></span>
						<div class="user_top">

							<span><a
								href="http://ulinkwo.iteye.com/blog/answered_problems"
								title="myali88">myali88</a></span> <span class="score" title="问答积分">3108</span>
							<span style="display: none" class="growth_text" title="周增长积分"><img
								class="growth" src="./ITeye问答频道_files/growth.gif" alt="月增长积分"></span>
						</div></li>

					<li class="top_7"><span class="ranking"></span>
						<div class="user_top">

							<span><a
								href="http://xiaolongfeixiang.iteye.com/blog/answered_problems"
								title="xiaolongfeixiang">xiaolongfeixiang</a></span> <span
								class="score" title="问答积分">3000</span> <span
								style="display: none" class="growth_text" title="周增长积分"><img
								class="growth" src="./ITeye问答频道_files/growth.gif" alt="月增长积分"></span>
						</div></li>

					<li class="top_8"><span class="ranking"></span>
						<div class="user_top">

							<span><a
								href="http://lewhwa.iteye.com/blog/answered_problems"
								title="lewhwa">lewhwa</a></span> <span class="score" title="问答积分">2963</span>
							<span style="display: none" class="growth_text" title="周增长积分"><img
								class="growth" src="./ITeye问答频道_files/growth.gif" alt="月增长积分"></span>
						</div></li>

					<li class="top_9"><span class="ranking"></span>
						<div class="user_top">

							<span><a
								href="http://7454103.iteye.com/blog/answered_problems"
								title="7454103">7454103</a></span> <span class="score" title="问答积分">2751</span>
							<span style="display: none" class="growth_text" title="周增长积分"><img
								class="growth" src="./ITeye问答频道_files/growth.gif" alt="月增长积分"></span>
						</div></li>

					<li class="top_10"><span class="ranking"></span>
						<div class="user_top">

							<span><a
								href="http://duyunfei.iteye.com/blog/answered_problems"
								title="AngelAndAngel">AngelAndAngel</a></span> <span class="score"
								title="问答积分">2641</span> <span style="display: none"
								class="growth_text" title="周增长积分"><img class="growth"
								src="./ITeye问答频道_files/growth.gif" alt="月增长积分"></span>
						</div></li>

					<a href="http://www.iteye.com/problems/top_users"
						style="margin: -5px 5px 5px 130px; display: block;">查看全部排名&gt;&gt;</a>
				</ul>

			</div>

			<script type="text/javascript">
  function show_hot_blog(type) {
    ["week", "month", "all"].each(function(t){
      $('blog_hot_' + t).hide();
      $('blog_hot_tab_' + t).removeClassName("selected");
    });
    $('blog_hot_' + type).show();
    $('blog_hot_tab_' + type).addClassName("selected");
  }
</script>
			<div class="column">
				<h3>本周活跃投票用户</h3>


				<div class="hot_user">
					<a href="http://loveexception.iteye.com/blog/answered_problems"><img
						alt="抛出异常的爱" class="logo"
						src="./ITeye问答频道_files/4a74d175-6ff9-3a92-a7ce-8852d03307af-thumb.jpg"
						title="抛出异常的爱"></a> <span class="user_blog"><a
						href="http://loveexception.iteye.com/blog/answered_problems"
						title="抛出异常的爱">抛出异常的爱</a></span> <br> <span class="score gray"
						title="问答积分">619</span> <br> <span class="gold gray"
						title="金牌">0</span> <span class="silver gray" title="银牌">0</span>
					<span class="bronze gray" title="铜牌">5</span>

				</div>


				<div class="hot_user">
					<a href="http://demojava.iteye.com/blog/answered_problems"><img
						alt="demojava" class="logo"
						src="./ITeye问答频道_files/588599de-cb90-3358-b3bd-20f459fe8782-thumb.png"
						title="demojava"></a> <span class="user_blog"><a
						href="http://demojava.iteye.com/blog/answered_problems"
						title="demojava">demojava</a></span> <br> <span class="score gray"
						title="问答积分">2187</span> <br> <span class="gold gray"
						title="金牌">1</span> <span class="silver gray" title="银牌">3</span>
					<span class="bronze gray" title="铜牌">133</span>

				</div>

			</div>
			<div class="column">
				<h3>最新评论</h3>
				<ul class="comments">

					<li>求大神帮忙 <br> <span class="gray"><a
							href="http://jknmae.iteye.com/" target="_blank" title="jknmae">jknmae</a>&nbsp;评论了</span>
						<a href="http://www.iteye.com/problems/95177">Hibernate 级联数据异常</a>
					</li>

					<li>我的需求这样的：比如有个class A 它实现了 Configurable接口 或被注解了
						ConfigurableAnn；在 new的构造函数结尾要切入一个点；Spring AOP 和 BeanPostProcessor
						很好解决，但由于是基础框架的开发，我这步的时候还不能使用Spring bean的容器，而且 spring有new也不行；
						用AspectJ 可以很好的解决，但由于 aspectJ 编译问题，老大不让用。现在我是没有办法了。有解决方法不？
						用户在使用A的时候标注 或实现接口就OK了，不能再有侵入式的代码了 <br> <span class="gray"><a
							href="http://linkahu.iteye.com/" target="_blank" title="linkahu">linkahu</a>&nbsp;评论了</span>
						<a href="http://www.iteye.com/problems/95107">java实例化 监听</a>
					</li>

					<li>临时表作了替代处理。 <br> <span class="gray"><a
							href="http://cargoj.iteye.com/" target="_blank" title="cargoj">cargoj</a>&nbsp;评论了</span>
						<a href="http://www.iteye.com/problems/95088">mysql中是否可以构造N行数据</a>
					</li>

					<li>
						格式化ip的方法我已经封装在了一个单独的init.js里面，然后页面引入了的，具体init.js里面对ip进行格式化的方法如下：
						Ext.util.Format.ip = function(v) { if
						(v!=undefined&amp;&amp;Ext.util.Format.trim(v) != '' &amp;&amp;
						!isNaN(v)) { return ((v &gt;&gt; 24) &amp; 0xff) + '.' + ((v
						&gt;&gt; 16) &amp; 0xff) + '.' + ((v &gt;&gt; &amp; 0xff) + '.' +
						(v &amp; 0xff); } else { return ''; } }; 你看{ text : "网关Ip",

						dataIndex : 'destIp', renderer : Ext.util.Format.ip }
						这个，我是这样调用的。可是现在就是没有格式化的效果。 <br> <span class="gray"><a
							href="http://zch90s.iteye.com/" target="_blank" title="zch90s">zch90s</a>&nbsp;评论了</span>
						<a href="http://www.iteye.com/problems/95133">ExtJS4
							renderer将绑定的数据列进行格式化，但是没效果。。求解。。</a>
					</li>

					<li>楼主这个毕设做的怎么样了？ <br> <span class="gray"><a
							href="http://wzwahl36.iteye.com/" target="_blank"
							title="wzwahl36">wzwahl36</a>&nbsp;评论了</span> <a
						href="http://www.iteye.com/problems/77122">谁有车牌识别系统javaanpr的中文字库，或者类似的库？</a>
					</li>

					<li>是你renderer : Ext.util.Format.ip 写的有问题吧。。。 这样上
						Ext.util.Format.ip 代码。 <br> <span class="gray"><a
							href="http://demojava.iteye.com/" target="_blank"
							title="demojava">demojava</a>&nbsp;评论了</span> <a
						href="http://www.iteye.com/problems/95133">ExtJS4
							renderer将绑定的数据列进行格式化，但是没效果。。求解。。</a>
					</li>

					<li>临时解决方案：web容器监听器中实现，监听器初始化在Spring之后即可。高级方案待研究 <br> <span
						class="gray"><a href="http://mars610.iteye.com/"
							target="_blank" title="mars610">mars610</a>&nbsp;评论了</span> <a
						href="http://www.iteye.com/problems/95119">怎样判断Spring容器初始化完成？！</a>
					</li>

					<li>解决了没有 ，可以贴出来吗 ，我刚好也要用 ，ipad总是下载失败，急啊 可以发我qq邮箱
						670160985@qq.com <br> <span class="gray"><a
							href="http://liushuli81.iteye.com/" target="_blank"
							title="liushuli81">liushuli81</a>&nbsp;评论了</span> <a
						href="http://www.iteye.com/problems/91304">ipad上用java(jsp)实现文件下载</a>
					</li>

					<li>那个都是外网的，你可以用sina的sae，注册后做个实名认证，基本就不用什么费用，测试测试 <br> <span
						class="gray"><a href="http://kidding87.iteye.com/"
							target="_blank" title="kidding87">kidding87</a>&nbsp;评论了</span> <a
						href="http://www.iteye.com/problems/95083">Java新浪微博Oauth2.0授权时
							如何测试回调地址 如何在回调方法中调试</a>
					</li>

					<li>您好，我也刚在学习这个，方便留个qq一起交流下吗？ <br> <span class="gray"><a
							href="http://wzmmao.iteye.com/" target="_blank" title="wzmmao">wzmmao</a>&nbsp;评论了</span>
						<a href="http://www.iteye.com/problems/94714">请教：dhtmlxTree关联struts2的action问题</a>
					</li>

				</ul>
			</div>

		</div>
	</div>
	<div id="footer">
		<div id="site_nav">
			<ul>
				<li><a href="http://www.iteye.com/index/service">广告服务</a></li>
				<li><a href="http://webmaster.iteye.com/">ITeye黑板报</a></li>
				<li><a href="http://www.iteye.com/index/contactus">联系我们</a></li>
				<li class="last"><a
					href="http://www.iteye.com/index/friend_links">友情链接</a></li>
			</ul>
		</div>
		<div id="copyright">
			© 2003-2012 ITeye.com. [ <a href="http://www.miibeian.gov.cn/">京ICP证110151号</a>
			京公网安备110105010620 ]<br> 百联优力(北京)投资有限公司 版权所有<br>
		</div>
	</div>

</div>
<script type="text/javascript">
  document.write("<img src='http://stat.iteye.com/?url="+ encodeURIComponent(document.location.href) + "&referrer=" + encodeURIComponent(document.referrer) + "&user_id=550404' width='0' height='0' />");
</script>
<img src="./ITeye问答频道_files/saved_resource" width="0" height="0">
</body>
</html>
