
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" dir="ltr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>ITeye论坛频道首页</title>
<meta name="description"
	content="ITeye论坛频道，为软件开发人员提供高质量的交流社区，交流内容主要包括：Java编程，Java企业应用开发，微软.net编程，Ruby on rails，AJAX，Agile敏捷开发，综合技术讨论，求职和招聘交流等">
<meta name="keywords"
	content="论坛, Java, Ruby on Rails, AJAX, .net, Agile, 敏捷开发, 招聘">
</head>
<body>
	<div id="page">
		<div id="header"></div>

		<div id="content" class="clearfix">
			<div id="main">




				<div id="forum_tab_show" class="clearfix">
					<div id="slides">
						<a href="http://www.iteye.com/clicks/790" target="_blank"><img
							src="./ITeye论坛频道首页_files/aix-370-180-0408.jpg" width="370"
							height="180"></a><span class="pagination"><span
							class="current">1</span></span>
					</div>
					<div id="recommended_jobs" class="box"
						onmousemove="marqueeing = false;" onmouseout="marqueeing = true;">
						<ul>
							<li><a href="http://org.pongo.cn/Org/Details?ID=96"
								target="_blank">【北京】:gameloft</a><a
								href="http://org.pongo.cn/Jobpreview/Details?ID=73060">
									诚聘c++软件工程师</a></li>
							<li><a href="http://org.pongo.cn/Org/Details?ID=116"
								target="_blank">【上海】:2345网址大全</a><a
								href="http://org.pongo.cn/Job/Details?ID=71790">
									诚聘c++高级开发工程师</a></li>
							<li><a
								href="http://org.pongo.cn/Org/Details?ID=212164&JobList=true#JobList"
								target="_blank">【北京】:祖睿科技有限公司</a><a
								href="http://org.pongo.cn/Job/Details?ID=72647"> 诚聘前端开发工程师</a></li>
							<li><a
								href="http://org.pongo.cn/Org/Details?ID=212164&JobList=true#JobList"
								target="_blank">【北京】:祖睿科技有限公司</a><a
								href="http://org.pongo.cn/Job/Details?ID=72648"> 诚聘高级开发/架构师</a></li>
							<li><a href="http://org.pongo.cn/Job/Details?ID=74184"
								target="_blank">北京:筋斗云</a><a
								href="http://org.pongo.cn/Job/Details?ID=74183">
									诚聘java服务端工程师</a></li>
							<li><a
								href="http://org.pongo.cn/Org/Details?ID=281823&JobList=true#JobList"
								target="_blank">【北京】:呱呱视频社区</a><a
								href="http://org.pongo.cn/Job/Details?ID=73580">
									诚聘javaweb工程师</a></li>
						</ul>
						<script type="text/javascript">
      var marqueeing = true;
      function marquee(){
        if(marqueeing) {
          var container=document.getElementById("recommended_jobs").getElementsByTagName("ul")[0];	
          container.appendChild(container.firstChild);
        }
      }
      setInterval("marquee()", 4000);
    </script>
						<a href="http://www.iteye.com/job" class="more">&nbsp;</a>
					</div>
					<div class="last">
						<ul>
							<li><a
								href="http://www.iteye.com/wiki/digest?category_id=36">热门帖电子书下载</a></li>
							<li><a href="http://www.iteye.com/forums/my_topics">我参与的论坛讨论</a></li>
							<li><a href="http://www.iteye.com/forums/new_topics">本月最新技术讨论</a></li>
							<li><a href="http://www.iteye.com/forums/hot_topics">本月热点技术讨论</a></li>
							<li><a href="http://www.iteye.com/forums/top_view">帖子总点击排行榜</a></li>
							<li><a href="http://www.iteye.com/forums/top_posts">帖子总回复排行榜</a></li>
						</ul>
					</div>
				</div>
				<div class="bbs_fath">
					<h2>
						<span class="left"><img alt="移动开发技术"
							src="./ITeye论坛频道首页_files/bbs_ico_normal_new_16.png"> <span
							class="title"><a
								href="http://www.iteye.com/forums/board/mobile">移动开发技术论坛</a></span> <span
							class="last_topic"><a
								href="http://www.iteye.com/topic/1130557">一些android开发视频资源分享</a>
								<a href="http://www.iteye.com/post/2394391" class="last_post"
								title="查看最新回复">&nbsp;</a> 6 分钟前 <a
								href="http://201302282518.iteye.com/" target="_blank"
								title="老叮当">老叮当</a></span> </span> <span class="amount">2602主题，21033回帖<a
							href="http://www.iteye.com/forums/board/mobile"><img
								src="./ITeye论坛频道首页_files/arrow_1.gif" alt=""></a></span>
					</h2>

					<div class="con">
						<dl class="bbs_son" id="">
							<dt>
								<img alt="Android" src="./ITeye论坛频道首页_files/bbs_ico_android.png">
							</dt>
							<dd>
								<strong><a
									href="http://www.iteye.com/forums/tag/Android">Android</a></strong><span
									class="amount">1559主题 / 14340回帖</span>
							</dd>
						</dl>
						<dl class="bbs_son" id="">
							<dt>
								<img alt="iOS" src="./ITeye论坛频道首页_files/bbs_ico_ios_none.png">
							</dt>
							<dd>
								<strong><a href="http://www.iteye.com/forums/tag/iOS">iOS</a></strong><span
									class="amount">241主题 / 2121回帖</span>
							</dd>
						</dl>
						<dl class="bbs_son" id="">
							<dt>
								<img alt="wp7" src="./ITeye论坛频道首页_files/bbs_ico_wp7_none.png">
							</dt>
							<dd>
								<strong><a href="http://www.iteye.com/forums/tag/wp7">wp7</a></strong><span
									class="amount">30主题 / 77回帖</span>
							</dd>
						</dl>
						<div class="tags">
							<a href="http://www.iteye.com/forums/tag/J2ME">J2ME</a> <a
								href="http://www.iteye.com/forums/tag/%E7%A7%BB%E5%8A%A8%E7%BB%BC%E5%90%88">移动综合</a>
							<a href="http://www.iteye.com/forums/tag/Symbian">Symbian</a> <a
								href="http://www.iteye.com/forums/tag/BlackBerry">BlackBerry</a>
							<a href="http://www.iteye.com/forums/tag/WAP">WAP</a>
						</div>
					</div>


				</div>

				<div class="bbs_fath">
					<h2>
						<span class="left"><img alt="Web前端技术"
							src="./ITeye论坛频道首页_files/bbs_ico_normal_new_16.png"> <span
							class="title"><a
								href="http://www.iteye.com/forums/board/web">Web前端技术论坛</a></span> <span
							class="last_topic"><a
								href="http://www.iteye.com/topic/1130290">基于JQUERY的WEB在线流程图设计器GOOFLOW...</a>
								<a href="http://www.iteye.com/post/2394366" class="last_post"
								title="查看最新回复">&nbsp;</a> 14 小时前 <a
								href="http://sdlddr.iteye.com/" target="_blank" title="sdlddr">sdlddr</a></span>

						</span> <span class="amount">8160主题，72958回帖<a
							href="http://www.iteye.com/forums/board/web"><img
								src="./ITeye论坛频道首页_files/arrow_1.gif" alt=""></a></span>
					</h2>

					<div class="con">
						<dl class="bbs_son" id="">
							<dt>
								<img alt="JavaScript"
									src="./ITeye论坛频道首页_files/bbs_ico_javascript.png">
							</dt>
							<dd>
								<strong><a
									href="http://www.iteye.com/forums/tag/JavaScript">JavaScript</a></strong><span
									class="amount">6012主题 / 46607回帖</span>
							</dd>
						</dl>
						<dl class="bbs_son" id="">
							<dt>
								<img alt="HTML5" src="./ITeye论坛频道首页_files/bbs_ico_html5.png">
							</dt>
							<dd>
								<strong><a href="http://www.iteye.com/forums/tag/HTML5">HTML5</a></strong><span
									class="amount">200主题 / 1969回帖</span>
							</dd>
						</dl>
						<dl class="bbs_son" id="">
							<dt>
								<img alt="jQuery" src="./ITeye论坛频道首页_files/bbs_ico_jquery.png">
							</dt>
							<dd>
								<strong><a
									href="http://www.iteye.com/forums/tag/jQuery">jQuery</a></strong><span
									class="amount">871主题 / 8094回帖</span>
							</dd>
						</dl>
						<dl class="bbs_son" id="">
							<dt>
								<img alt="CSS" src="./ITeye论坛频道首页_files/bbs_ico_css.png">
							</dt>
							<dd>
								<strong><a href="http://www.iteye.com/forums/tag/CSS">CSS</a></strong><span
									class="amount">365主题 / 2595回帖</span>
							</dd>
						</dl>
						<div class="tags">
							<a href="http://www.iteye.com/forums/tag/EXT">EXT</a> <a
								href="http://www.iteye.com/forums/tag/Ajax">Ajax</a> <a
								href="http://www.iteye.com/forums/tag/Web%E7%BB%BC%E5%90%88">Web综合</a>
							<a
								href="http://www.iteye.com/forums/tag/%E7%95%8C%E9%9D%A2%E8%AE%BE%E8%AE%A1">界面设计</a>
							<a href="http://www.iteye.com/forums/tag/DWR">DWR</a>
						</div>
					</div>


				</div>

				<div class="bbs_fath">
					<h2>
						<span class="left"><img alt="Java企业应用"
							src="./ITeye论坛频道首页_files/bbs_ico_normal_new_16.png"> <span
							class="title"><a
								href="http://www.iteye.com/forums/board/Java">Java企业应用论坛</a></span> <span
							class="last_topic"><a
								href="http://www.iteye.com/topic/1130505">关于平台与框架，我的一点看法</a> <a
								href="http://www.iteye.com/post/2394387" class="last_post"
								title="查看最新回复">&nbsp;</a> 22 分钟前 <a
								href="http://fncj.iteye.com/" target="_blank" title="fncj">fncj</a></span>

						</span> <span class="amount">21280主题，217981回帖<a
							href="http://www.iteye.com/forums/board/Java"><img
								src="./ITeye论坛频道首页_files/arrow_1.gif" alt=""></a></span>
					</h2>

					<div class="con">
						<dl class="bbs_son" id="">
							<dt>
								<img alt="Hibernate"
									src="./ITeye论坛频道首页_files/bbs_ico_hibernate.png">
							</dt>
							<dd>
								<strong><a
									href="http://www.iteye.com/forums/tag/Hibernate">Hibernate</a></strong><span
									class="amount">3722主题 / 25927回帖</span>
							</dd>
						</dl>
						<dl class="bbs_son" id="">
							<dt>
								<img alt="Spring" src="./ITeye论坛频道首页_files/bbs_ico_spring.png">
							</dt>
							<dd>
								<strong><a
									href="http://www.iteye.com/forums/tag/Spring">Spring</a></strong><span
									class="amount">2561主题 / 20557回帖</span>
							</dd>
						</dl>
						<dl class="bbs_son" id="">
							<dt>
								<img alt="Struts"
									src="./ITeye论坛频道首页_files/bbs_ico_struts_none.png">
							</dt>
							<dd>
								<strong><a
									href="http://www.iteye.com/forums/tag/Struts">Struts</a></strong><span
									class="amount">2974主题 / 20578回帖</span>
							</dd>
						</dl>
						<dl class="bbs_son" id="">
							<dt>
								<img alt="iBATIS"
									src="./ITeye论坛频道首页_files/bbs_ico_ibatis_none.png">
							</dt>
							<dd>
								<strong><a
									href="http://www.iteye.com/forums/tag/iBATIS">iBATIS</a></strong><span
									class="amount">404主题 / 3785回帖</span>
							</dd>
						</dl>
						<dl class="bbs_son" id="">
							<dt>
								<img alt="企业应用" src="./ITeye论坛频道首页_files/bbs_ico_business.png">
							</dt>
							<dd>
								<strong><a
									href="http://www.iteye.com/forums/tag/%E4%BC%81%E4%B8%9A%E5%BA%94%E7%94%A8">企业应用</a></strong><span
									class="amount">5144主题 / 52910回帖</span>
							</dd>
						</dl>
						<dl class="bbs_son" id="">
							<dt>
								<img alt="Lucene"
									src="./ITeye论坛频道首页_files/bbs_ico_lucene_none.png">
							</dt>
							<dd>
								<strong><a
									href="http://www.iteye.com/forums/tag/Lucene">Lucene</a></strong><span
									class="amount">233主题 / 1612回帖</span>
							</dd>
						</dl>
						<dl class="bbs_son" id="">
							<dt>
								<img alt="SOA" src="./ITeye论坛频道首页_files/bbs_ico_soa_none.png">
							</dt>
							<dd>
								<strong><a href="http://www.iteye.com/forums/tag/SOA">SOA</a></strong><span
									class="amount">537主题 / 4101回帖</span>
							</dd>
						</dl>
						<div class="tags">
							<a href="http://www.iteye.com/forums/tag/Java%E7%BB%BC%E5%90%88">Java综合</a>
							<a href="http://www.iteye.com/forums/tag/Tomcat">Tomcat</a> <a
								href="http://www.iteye.com/forums/tag/%E8%AE%BE%E8%AE%A1%E6%A8%A1%E5%BC%8F">设计模式</a>
							<a href="http://www.iteye.com/forums/tag/OO">OO</a> <a
								href="http://www.iteye.com/forums/tag/JBoss">JBoss</a>
						</div>
					</div>


				</div>

				<div class="bbs_fath">
					<h2>
						<span class="left"><img alt="编程语言技术"
							src="./ITeye论坛频道首页_files/bbs_ico_normal_new_16.png"> <span
							class="title"><a
								href="http://www.iteye.com/forums/board/language">编程语言技术论坛</a></span> <span
							class="last_topic"><a
								href="http://www.iteye.com/topic/1130539">JGroups TCP 发现机制解读</a>
								<a href="http://www.iteye.com/post/2394356" class="last_post"
								title="查看最新回复">&nbsp;</a> 17 小时前 <a
								href="http://openmind.iteye.com/" target="_blank"
								title="OpenMind">OpenMind</a></span> </span> <span class="amount">6677主题，48091回帖<a
							href="http://www.iteye.com/forums/board/language"><img
								src="./ITeye论坛频道首页_files/arrow_1.gif" alt=""></a></span>
					</h2>

					<div class="con">
						<dl class="bbs_son" id="">
							<dt>
								<img alt="Ruby" src="./ITeye论坛频道首页_files/bbs_ico_ruby_none.png">
							</dt>
							<dd>
								<strong><a href="http://www.iteye.com/forums/tag/Ruby">Ruby</a></strong><span
									class="amount">1281主题 / 9442回帖</span>
							</dd>
						</dl>
						<dl class="bbs_son" id="">
							<dt>
								<img alt="Python"
									src="./ITeye论坛频道首页_files/bbs_ico_python_none.png">
							</dt>
							<dd>
								<strong><a
									href="http://www.iteye.com/forums/tag/Python">Python</a></strong><span
									class="amount">659主题 / 4362回帖</span>
							</dd>
						</dl>
						<dl class="bbs_son" id="">
							<dt>
								<img alt="PHP" src="./ITeye论坛频道首页_files/bbs_ico_php.png">
							</dt>
							<dd>
								<strong><a href="http://www.iteye.com/forums/tag/PHP">PHP</a></strong><span
									class="amount">515主题 / 3405回帖</span>
							</dd>
						</dl>
						<dl class="bbs_son" id="">
							<dt>
								<img alt="Flash"
									src="./ITeye论坛频道首页_files/bbs_ico_flash_none.png">
							</dt>
							<dd>
								<strong><a href="http://www.iteye.com/forums/tag/Flash">Flash</a></strong><span
									class="amount">821主题 / 3797回帖</span>
							</dd>
						</dl>
						<dl class="bbs_son" id="">
							<dt>
								<img alt="C++" src="./ITeye论坛频道首页_files/bbs_ico_cpp_none.png">
							</dt>
							<dd>
								<strong><a href="http://www.iteye.com/forums/tag/C++">C++</a></strong><span
									class="amount">381主题 / 2481回帖</span>
							</dd>
						</dl>
						<dl class="bbs_son" id="">
							<dt>
								<img alt=".net" src="./ITeye论坛频道首页_files/bbs_ico_.net_none.png">
							</dt>
							<dd>
								<strong><a href="http://www.iteye.com/forums/tag/.net">.net</a></strong><span
									class="amount">440主题 / 2237回帖</span>
							</dd>
						</dl>
						<div class="tags">
							<a href="http://www.iteye.com/forums/tag/Rails">Rails</a> <a
								href="http://www.iteye.com/forums/tag/Flex">Flex</a> <a
								href="http://www.iteye.com/forums/tag/C">C</a> <a
								href="http://www.iteye.com/forums/tag/C%23">C#</a> <a
								href="http://www.iteye.com/forums/tag/Django">Django</a>
						</div>
					</div>


				</div>

				<div class="bbs_fath">
					<h2>
						<span class="left"><img alt="综合技术"
							src="./ITeye论坛频道首页_files/bbs_ico_normal_16.png"> <span
							class="title"><a
								href="http://www.iteye.com/forums/board/Tech">综合技术论坛</a></span> <span
							class="last_topic"><a
								href="http://www.iteye.com/topic/1130113">徘徊在失败边缘的项目</a> <a
								href="http://www.iteye.com/post/2394194" class="last_post"
								title="查看最新回复">&nbsp;</a> 前天 <a href="http://arthur.iteye.com/"
								target="_blank" title="Arthur">Arthur</a></span> </span> <span class="amount">6613主题，67641回帖<a
							href="http://www.iteye.com/forums/board/Tech"><img
								src="./ITeye论坛频道首页_files/arrow_1.gif" alt=""></a></span>
					</h2>

					<div class="con">
						<dl class="bbs_son" id="">
							<dt>
								<img alt="Linux"
									src="./ITeye论坛频道首页_files/bbs_ico_linux_none.png">
							</dt>
							<dd>
								<strong><a href="http://www.iteye.com/forums/tag/Linux">Linux</a></strong><span
									class="amount">853主题 / 3484回帖</span>
							</dd>
						</dl>
						<dl class="bbs_son" id="">
							<dt>
								<img alt="数据库"
									src="./ITeye论坛频道首页_files/bbs_ico_database_none.png">
							</dt>
							<dd>
								<strong><a
									href="http://www.iteye.com/forums/tag/%E6%95%B0%E6%8D%AE%E5%BA%93">数据库</a></strong><span
									class="amount">1482主题 / 6815回帖</span>
							</dd>
						</dl>
						<dl class="bbs_son" id="">
							<dt>
								<img alt="敏捷编程"
									src="./ITeye论坛频道首页_files/bbs_ico_quickdev_none.png">
							</dt>
							<dd>
								<strong><a
									href="http://www.iteye.com/forums/tag/%E6%95%8F%E6%8D%B7%E7%BC%96%E7%A8%8B">敏捷编程</a></strong><span
									class="amount">456主题 / 7683回帖</span>
							</dd>
						</dl>
						<dl class="bbs_son" id="">
							<dt>
								<img alt="数据结构"
									src="./ITeye论坛频道首页_files/bbs_ico_struct_none.png">
							</dt>
							<dd>
								<strong><a
									href="http://www.iteye.com/forums/tag/%E6%95%B0%E6%8D%AE%E7%BB%93%E6%9E%84">数据结构</a></strong><span
									class="amount">428主题 / 3577回帖</span>
							</dd>
						</dl>
						<dl class="bbs_son" id="">
							<dt>
								<img alt="软件测试" src="./ITeye论坛频道首页_files/bbs_ico_test_none.png">
							</dt>
							<dd>
								<strong><a
									href="http://www.iteye.com/forums/tag/%E8%BD%AF%E4%BB%B6%E6%B5%8B%E8%AF%95">软件测试</a></strong><span
									class="amount">267主题 / 2331回帖</span>
							</dd>
						</dl>
						<dl class="bbs_son" id="">
							<dt>
								<img alt="项目管理"
									src="./ITeye论坛频道首页_files/bbs_ico_project_none.png">
							</dt>
							<dd>
								<strong><a
									href="http://www.iteye.com/forums/tag/%E9%A1%B9%E7%9B%AE%E7%AE%A1%E7%90%86">项目管理</a></strong><span
									class="amount">1093主题 / 22882回帖</span>
							</dd>
						</dl>
						<div class="tags">
							<a
								href="http://www.iteye.com/forums/tag/%E7%BC%96%E7%A8%8B%E7%BB%BC%E5%90%88">编程综合</a>
							<a href="http://www.iteye.com/forums/tag/Oracle">Oracle</a> <a
								href="http://www.iteye.com/forums/tag/Erlang">Erlang</a> <a
								href="http://www.iteye.com/forums/tag/%E4%BA%92%E8%81%94%E7%BD%91">互联网</a>
							<a href="http://www.iteye.com/forums/tag/MySQL">MySQL</a>
						</div>
					</div>


				</div>

				<div class="bbs_fath">
					<h2>
						<span class="left"><img alt="入门技术"
							src="./ITeye论坛频道首页_files/bbs_ico_normal_new_16.png"> <span
							class="title"><a
								href="http://www.iteye.com/forums/board/New">入门技术论坛</a></span> <span
							class="last_topic"><a
								href="http://www.iteye.com/topic/1130547">[LeetCode]
									Palindrome Parti...</a> <a href="http://www.iteye.com/post/2394371"
								class="last_post" title="查看最新回复">&nbsp;</a> 10 小时前 <a
								href="http://cozilla.iteye.com/" target="_blank" title="cozilla">cozilla</a></span>

						</span> <span class="amount">18665主题，73280回帖<a
							href="http://www.iteye.com/forums/board/New"><img
								src="./ITeye论坛频道首页_files/arrow_1.gif" alt=""></a></span>
					</h2>


				</div>

				<div class="bbs_fath">
					<h2>
						<span class="left"><img alt="招聘求职"
							src="./ITeye论坛频道首页_files/bbs_ico_normal_new_16.png"> <span
							class="title"><a
								href="http://www.iteye.com/forums/board/Job">招聘求职论坛</a></span> <span
							class="last_topic"><a
								href="http://www.iteye.com/topic/1129544">北京985院校，毕业3年，2.5年银行支付项目经理，求升级！</a>
								<a href="http://www.iteye.com/post/2394390" class="last_post"
								title="查看最新回复">&nbsp;</a> 10 分钟前 <a
								href="http://fengyufenfei.iteye.com/" target="_blank"
								title="fengyufenfei">fengyufenfei</a></span> </span> <span class="amount">11676主题，258077回帖<a
							href="http://www.iteye.com/forums/board/Job"><img
								src="./ITeye论坛频道首页_files/arrow_1.gif" alt=""></a></span>
					</h2>


				</div>

				<div class="bbs_fath">
					<h2>
						<span class="left"><img alt="海阔天空"
							src="./ITeye论坛频道首页_files/bbs_ico_normal_new_16.png"> <span
							class="title"><a
								href="http://www.iteye.com/forums/board/Life">海阔天空论坛</a></span> <span
							class="last_topic"><a
								href="http://www.iteye.com/topic/1130390">看乔布斯16年前访谈视频后感</a> <a
								href="http://www.iteye.com/post/2394244" class="last_post"
								title="查看最新回复">&nbsp;</a> 昨天 <a href="http://yunzhu.iteye.com/"
								target="_blank" title="yunzhu">yunzhu</a></span> </span> <span class="amount">12687主题，200864回帖<a
							href="http://www.iteye.com/forums/board/Life"><img
								src="./ITeye论坛频道首页_files/arrow_1.gif" alt=""></a></span>
					</h2>


					<div class="con">
						<dl class="bbs_son" id="">
							<dt>
								<img src="./ITeye论坛频道首页_files/bbs_ico_normal_new.png" alt="海阔天空">
							</dt>
							<dd style="margin-top: 8px;">
								<strong><a
									href="http://www.iteye.com/forums/board/Life">海阔天空</a></strong>
							</dd>
						</dl>

						<dl class="bbs_son" id="">
							<dt>
								<img src="./ITeye论坛频道首页_files/bbs_ico_normal.png" alt="老八婆的八卦堡">
							</dt>
							<dd style="margin-top: 8px;">
								<strong><a href="http://tales.group.iteye.com/">老八婆的八卦堡</a></strong>
							</dd>
						</dl>

						<dl class="bbs_son" id="">
							<dt>
								<img src="./ITeye论坛频道首页_files/bbs_ico_normal.png" alt="站务讨论">
							</dt>
							<dd style="margin-top: 8px;">
								<strong><a href="http://javaeye-admin.group.iteye.com/">站务讨论</a></strong>
							</dd>
						</dl>

						<dl class="bbs_son" id="">
							<dt>
								<img src="./ITeye论坛频道首页_files/bbs_ico_normal.png" alt="灌水乐园">
							</dt>
							<dd style="margin-top: 8px;">
								<strong><a href="http://javaeye-water.group.iteye.com/">灌水乐园</a></strong>
							</dd>
						</dl>

					</div>

				</div>


				<div id="forum_action" class="clearfix">
					<ul>
						<li><a href="http://www.iteye.com/forums/mark_read_all">标记所有文章已读</a></li>
						<li><a href="http://www.iteye.com/rss/forum" class="rss">订阅全部论坛新帖</a></li>
						<li><a href="http://www.iteye.com/rss/topic" class="rss">订阅全部论坛热点</a></li>
					</ul>
				</div>

				<div id="online_status">
					<h3>当前在线状态</h3>
					<img src="./ITeye论坛频道首页_files/whosonline.gif"> 目前共有 <strong>4340</strong>
					人在线，其中注册会员 <strong>540</strong> 人 <a
						href="http://www.iteye.com/forums#" id="show_list"
						onclick="$(&#39;show_list&#39;).hide();$(&#39;hide_list&#39;).show();$(&#39;online_users&#39;).update(&#39;读取中...&#39;); new Ajax.Updater(&#39;online_users&#39;, &#39;/users/online&#39;, {asynchronous:true, evalScripts:true, method:&#39;get&#39;, parameters:&#39;authenticity_token=&#39; + encodeURIComponent(&#39;JrKdwqcK3i+W/IlnIWt035E8s2/ljUkQEhbPnZgEFwA=&#39;)}); return false;">显示列表</a><a
						href="http://www.iteye.com/forums#" id="hide_list"
						onclick="$(&#39;online_users&#39;).update(&#39; &#39;);$(&#39;show_list&#39;).show();$(&#39;hide_list&#39;).hide();return false;"
						style="display: none;">隐藏列表</a> <a
						href="http://www.iteye.com/users/online" id="all_list">查看详细状态</a>
					<div id="online_users">&nbsp;</div>
				</div>

				<script type="text/javascript">
  $$('dl.bbs_son').each(function(dl) {
    var url = dl.down('a').href;
    dl.observe('click', function(el) {
      window.location = url;
    });
  });

  var current_index = 0;
  var s_adverts = ["\u003Ca href='/clicks/790' target='_blank'\u003E\u003Cimg src=\"http://info-database.csdn.net/Upload/2013-04-15/aix-370-180-0408.jpg\" width=\"370\" height=\"180\"\u003E\u003C/a\u003E"];

  Event.observe(window,'load',function() {
    show_slide(0);
    new PeriodicalExecuter(show_slide, 600);
  });

  function show_slide(s_index) {
    if(typeof(s_index) != 'number') s_index = current_index + 1;
    if(s_index >= s_adverts.length) s_index = 0;

    $("slides").innerHTML = s_adverts[s_index];
    var s_pagination = s_adverts.inject("<span class='pagination'>", function(memo, value, i) {
      return memo + (s_index == i ? "<span class='current'>" + (i + 1) + "</span>" : "<a href='#' onclick='show_slide(" + i + ");return false;'>" + (i + 1) + "</a>");
    }) + "</span>";


    $("slides").insert(s_pagination);

    current_index = s_index;
  }

  function pongoad58(url_list)
  {
    var html = "";
    for(var i = 0;i < url_list.length; i++){
      var url = url_list[i];
      var li = "<a href='<orgurl>' target='_blank'><cityname>:<orgname></a>"
      .replace("<orgurl>", encodeURI(url.orgurl.escapeHTML()))
      .replace("<orgname>", url.orgname.escapeHTML())
      .replace("<joburl>", encodeURI(url.joburl.escapeHTML()))
      .replace("<cityname>", url.cityname.escapeHTML());
      if (url.jobname != null){
        li += "<a href='" + encodeURI(url.joburl.escapeHTML()) + "'> 诚聘" + url.jobname.escapeHTML() + "</a>";
      }
      html += "<li>" + li + "</li>";
    }
    $$("#recommended_jobs ul").first().innerHTML=html;
  }
</script>


				<script type="text/javascript">
  var url = encodeURIComponent(document.location.href);
  var id = 58;
  var callbackfun="pongoad58";
  document.write(unescape('%3Cscript src="http://a.pongo.cn/Job/GetAdForIteyeCallBack%3Fid%3D'+id+'%26Url%3D'+encodeURIComponent(url)+'%26&CallBack%3D'+callbackfun+'" type="text/javascript"%3E%3C/script%3E'));
</script>
				<script src="./ITeye论坛频道首页_files/GetAdForIteyeCallBack"
					type="text/javascript"></script>

			</div>
		</div>
		<div id="footer">
			<div id="site_nav">
				<ul>
					<li><a href="http://www.iteye.com/index/service">广告服务</a></li>
					<li><a href="http://webmaster.iteye.com/">ITeye黑板报</a></li>
					<li><a href="http://www.iteye.com/index/contactus">联系我们</a></li>
					<li class="last"><a
						href="http://www.iteye.com/index/friend_links">友情链接</a></li>
				</ul>
			</div>
			<div id="copyright">
				© 2003-2012 ITeye.com. [ <a href="http://www.miibeian.gov.cn/">京ICP证110151号</a>
				京公网安备110105010620 ]<br> 百联优力(北京)投资有限公司 版权所有<br>
			</div>
		</div>

	</div>
	<script type="text/javascript">
  document.write("<img src='http://stat.iteye.com/?url="+ encodeURIComponent(document.location.href) + "&referrer=" + encodeURIComponent(document.referrer) + "&user_id=550404' width='0' height='0' />");
</script>
	<img src="./ITeye论坛频道首页_files/saved_resource" width="0" height="0">



</body>
</html>
