

<% blogs.forEach(function(blogs, index) { %>
          <li><span title="浏览次数"><%= blogs.blogreadnum%></span> <a
							href="http://pdodge.iteye.com/blog/1866855"
							title=<%= blogs.blogtheme%> target="_blank"><%= blogs.blogtheme%></a></li>
<% }) %>