
<!DOCTYPE html>
<!-- saved from url=(0023)http://ora10.iteye.com/ -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" dir="ltr"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <title>ORA10的博客 - ITeye技术网站</title>
    <meta name="description" content="">
    <meta name="keywords" content="ORA10 ">
    <link rel="shortcut icon" href="http://ora10.iteye.com/images/favicon.ico" type="image/x-icon">
    <link rel="search" type="application/opensearchdescription+xml" href="http://ora10.iteye.com/open_search.xml" title="ITeye">
    <link href="http://ora10.iteye.com/rss" rel="alternate" title="" type="application/rss+xml">
    <link href="/stylesheets/blog.css" rel="stylesheet">
	<link href="/stylesheets/blue.css" rel="stylesheet">
    <script src="/javascripts/ga.js"></script>
	<script src="/javascripts/application.js"></script>
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-535605-1']);
  _gaq.push(['_setDomainName', 'iteye.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


      </head>
  <body>
    <div id="header">
      <div id="blog_site_nav">
  <a href="http://www.iteye.com/" class="homepage">首页</a>
  <a href="http://www.iteye.com/news">资讯</a>
  <a href="http://www.iteye.com/magazines">精华</a>
  <a href="http://www.iteye.com/forums">论坛</a>
  <a href="http://www.iteye.com/ask">问答</a>
  <a href="http://www.iteye.com/blogs">博客</a>
  <a href="http://www.iteye.com/blogs/subjects">专栏</a>
  <a href="http://www.iteye.com/groups">群组</a>
  <a href="http://ora10.iteye.com/#" onclick="return false;" id="msna"><u>更多</u> <small>▼</small></a>
  <div class="quick_menu" style="left: 368px; display: none;">
    <a target="_blank" href="http://job.iteye.com/iteye">招聘</a>
    <a href="http://www.iteye.com/search">搜索</a>
  </div>
</div>

      <div id="user_nav">
  
        <a href="./ORA10的博客 - ITeye技术网站_files/ORA10的博客 - ITeye技术网站.htm" title="查看我的博客首页" class="welcome">欢迎ORA10</a>
    <a id="notifications_count" href="http://my.iteye.com/notifications" class="" title="没有未读消息">0</a>
    
      <a href="http://my.iteye.com/messages" title="你有新的站内短信"><img alt="Newpm" src="./ORA10的博客 - ITeye技术网站_files/newpm.gif">收件箱(2)</a>
    
    <a href="http://my.iteye.com/" title="我的应用首页">我的应用</a>
    <div class="quick_menu" style="display: none;">
      <a href="http://my.iteye.com/feed" title="我关注的好友动态消息">我的关注</a>
      <a href="http://my.iteye.com/mygroup" title="我加入的群组最新话题">我的群组</a>
      <a href="http://my.iteye.com/myresume" title="我的个人简历">我的简历</a>
      <a href="http://my.iteye.com/admin/album" title="我的个人简历">我的相册</a>
      <a href="http://my.iteye.com/admin/link" title="我收藏的网络资源链接">我的收藏</a>
      <a href="http://my.iteye.com/admin/code" title="我收藏的代码">我的代码</a>
      <a href="http://my.iteye.com/admin/weibo" title="用微博发表简短的话题">我的微博</a>
    </div>
    <a href="http://ora10.iteye.com/admin" title="管理我的博客">我的博客</a>
    <a href="http://my.iteye.com/profile" title="修改我的个人设置">设置</a>
    <a href="http://ora10.iteye.com/logout" class="nobg" onclick="var f = document.createElement(&#39;form&#39;); f.style.display = &#39;none&#39;; this.parentNode.appendChild(f); f.method = &#39;POST&#39;; f.action = this.href;var m = document.createElement(&#39;input&#39;); m.setAttribute(&#39;type&#39;, &#39;hidden&#39;); m.setAttribute(&#39;name&#39;, &#39;_method&#39;); m.setAttribute(&#39;value&#39;, &#39;put&#39;); f.appendChild(m);var s = document.createElement(&#39;input&#39;); s.setAttribute(&#39;type&#39;, &#39;hidden&#39;); s.setAttribute(&#39;name&#39;, &#39;authenticity_token&#39;); s.setAttribute(&#39;value&#39;, &#39;JrKdwqcK3i+W/IlnIWt035E8s2/ljUkQEhbPnZgEFwA=&#39;); f.appendChild(s);f.submit();return false;">退出</a>
  </div>

    </div>

    <div id="page">
      <div id="branding" class="clearfix">
        <div id="blog_name">
          <h1><a href="./ORA10的博客 - ITeye技术网站_files/ORA10的博客 - ITeye技术网站.htm">ora10</a></h1>
        </div>
        <div id="fd"></div>
        <div id="blog_navbar">
          <ul>
            <li class="blog_navbar_for"><a href="./ORA10的博客 - ITeye技术网站_files/ORA10的博客 - ITeye技术网站.htm"><strong>博客</strong></a></li>
            <li><a href="http://ora10.iteye.com/weibo">微博</a></li>
            <li><a href="http://ora10.iteye.com/album">相册</a></li>
            <li><a href="http://ora10.iteye.com/link">收藏</a></li>
            <li><a href="http://ora10.iteye.com/blog/guest_book">留言</a></li>
            <li><a href="http://ora10.iteye.com/blog/profile">关于我</a></li>
          </ul>
    
          <div class="search">
            <form action="http://ora10.iteye.com/blog/search" method="get">
              <input class="search_text" id="query" name="query" style="margin-left: 10px;width: 110px;" type="text" value="">
              <input class="submit_search" type="submit" value="">
            </form>
          </div> 
          <div id="fd"></div>         
        </div>
      </div>
      
      <div id="content" class="clearfix">
        <div id="main">
          



          

<div class="blog_main_title">
  <a href="http://ora10.iteye.com/rss" target="_blank" style="float:right; margin-left:10px;"><img alt="Rss" src="./ORA10的博客 - ITeye技术网站_files/rss.png"></a>
  
  <div id="blog_preview">
    <img src="./ORA10的博客 - ITeye技术网站_files/icon_new.gif"><a href="http://ora10.iteye.com/admin/blogs/new">发表新文章</a>&nbsp;
    <img src="./ORA10的博客 - ITeye技术网站_files/ico_install.gif" alt=""><a href="http://ora10.iteye.com/admin">管理我的博客</a>
  </div>
  
  <span>文章列表</span> 
  <div id="fd"></div>  
</div>


<div class="default">
<p>
  
    目前您还没有任何文章，立刻<a href="http://ora10.iteye.com/admin/blogs/new">发表文章</a>，和大家分享、交流工作、学习经验。
    <%- partial('blogs', {blogs:blogs}) %> 
	<div>
		<form method="post" action="/details" class="well form-inline center" style="text-align:center;">
      <section>类型：<input type="textarea" name="own_blog_type"></section>
			<section>主题：<input type="text" name="own_blog_theme"></section>
			<section>内容：<input type="textarea" name="own_blog_content"></section>
      <section>链接：<input type="textarea" name="own_blog_link"></section>
      <section>时间：<input type="textarea" name="own_blog_time"></section>
      <section>顶：<input type="textarea" name="own_blog_up"></section>
      <section>踩：<input type="textarea" name="own_blog_down"></section>
      <section>阅读数：<input type="textarea" name="own_blog_readnum"></section>
      <section>回复数：<input type="textarea" name="own_blog_returnnum"></section>
      <section>回帖集合：<input type="textarea" name="own_blog_returns"></section>

			<section><input type="submit"></section>
		</form>
		
	</div>
  
</p>
</div>




        </div>

        <div id="local">
          <div class="local_top"></div>
          <div id="blog_owner">
  <div id="blog_owner_logo"><a href="./ORA10的博客 - ITeye技术网站_files/ORA10的博客 - ITeye技术网站.htm"><img alt="ORA10的博客" class="logo" src="./ORA10的博客 - ITeye技术网站_files/user-logo.gif" title="ORA10的博客: "></a></div>
  <div id="blog_owner_name">ORA10</div>
</div>

          <div id="blog_actions">
            <ul>
              <li>浏览: 0 次</li>
              <li>性别: <img alt="Icon_minigender_1" src="./ORA10的博客 - ITeye技术网站_files/icon_minigender_1.gif" title="男"></li>
              <li>来自: 北京</li>
              <li><img src="./ORA10的博客 - ITeye技术网站_files/online.gif"></li>
              
            </ul>
          </div>
          <div id="user_visits" class="clearfix">
            <h5>最近访客 <span style="font-weight:normal;font-size:12px;padding-left:30px;"><a href="http://ora10.iteye.com/blog/user_visits">更多访客&gt;&gt;</a></span></h5>
            
          </div>

          

                      <div id="blog_menu">
              <h5>文章分类</h5>
              <ul>
                <li><a href="./ORA10的博客 - ITeye技术网站_files/ORA10的博客 - ITeye技术网站.htm">全部博客 (0)</a></li>
                
              </ul>
            </div>
            <div id="month_blogs">
              <h5>社区版块</h5>
              <ul>
                <li><a href="http://ora10.iteye.com/blog/news">我的资讯</a> (0)</li>
                <li>
                  <a href="http://ora10.iteye.com/blog/post">我的论坛</a> (0)
                </li>
                <li><a href="http://ora10.iteye.com/blog/answered_problems">我的问答</a> (0)</li>
              </ul>
            </div>
            <div id="month_blogs">
              <h5>存档分类</h5>
              <ul>
                
                <li><a href="http://ora10.iteye.com/blog/monthblog_more">更多存档...</a></li>
              </ul>
            </div>
            
            

            <div id="guest_books">
              <h5>最新评论</h5>
              <ul>
                
              </ul>
            </div>

            <div class="local_bottom"></div>
          
        </div>
      </div>

      <div id="footer" class="clearfix">
        <div id="copyright">
          <hr>
          声明：ITeye文章版权属于作者，受法律保护。没有作者书面许可不得转载。若作者同意转载，必须以超链接形式标明文章原始出处和作者。<br>
          © 2003-2012 ITeye.com.   All rights reserved.  [ 京ICP证110151号  京公网安备110105010620 ]
        </div>
      </div>
    </div>
    <script type="text/javascript">
  document.write("<img src='http://stat.iteye.com/?url="+ encodeURIComponent(document.location.href) + "&referrer=" + encodeURIComponent(document.referrer) + "&user_id=550404' width='0' height='0' />");
</script><img src="./ORA10的博客 - ITeye技术网站_files/saved_resource" width="0" height="0">

    
    
  

</body></html>

