
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" dir="ltr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>ITeye Java编程 Spring框架 Ajax技术 agile敏捷软件开发 ruby on rails实践
	- ITeye做最棒的软件开发交流社区</title>
<meta name="description"
	content="Java编程,Spring Struts Webwork框架深入,XMLHTTP Ajax开发,Java Web开发,Java企业应用,Java设计模式,Java开源框架,Java应用服务器,Rich Client讨论,Ruby编程,Ruby DSL开发,Ruby on rails实践,JavaScript编程,敏捷软件开发XP TDD,软件配置管理,软件测试,项目管理UML,数据库,C#/.net C/C++ Erlang/FP PHP/Linux平台,精通Hibernate">
<meta name="keywords"
	content="Java编程 Spring框架 Ajax技术 agile敏捷软件开发 ruby on rails实践 ITeye深度技术社区">
<meta name="baidu_union_verify"
	content="7b2a15d73dd1b1b6a67d7a4ddcfffa33">


</head>
<body>
	<div id="page">
		<div id="header"></div>
		<div id="content" class="clearfix">
			<div id="main">
				<div id="news">

					<div class="news_picture">
						<div>
							<table class="ge" id="ge" cellspacing="0" cellpadding="0">
								<tbody>
									<tr>
										<td class="pic" id="bimg">

											<div id="top_pictures">
												<div class="dis" id="top_picture_image_0" style="">
													<a href="http://webmaster.iteye.com/blog/1865375"
														target="_blank" title="有奖试读奖品丰厚.5月更精彩！"><img
														alt="未标题-1"
														src="./ITeye Java编程 Spring框架 Ajax技术 agile敏捷软件开发 ruby on rails实践 - ITeye做最棒的软件开发交流社区_files/未标题-1.jpg"></a>
												</div>
												<div class="dis" id="top_picture_image_1"
													style="display: none;">
													<a href="http://openstack.group.iteye.com/" target="_blank"
														title="openstack群组上线"><img alt="336_280_3"
														src="./ITeye Java编程 Spring框架 Ajax技术 agile敏捷软件开发 ruby on rails实践 - ITeye做最棒的软件开发交流社区_files/336_280_3.jpg"></a>
												</div>
												<div class="dis" id="top_picture_image_2"
													style="display: none;">
													<a href="http://cloudstack.group.iteye.com/"
														target="_blank" title="cloudstack群组上线"><img
														alt="336_280_1"
														src="./ITeye Java编程 Spring框架 Ajax技术 agile敏捷软件开发 ruby on rails实践 - ITeye做最棒的软件开发交流社区_files/336_280_1.jpg"></a>
												</div>
											</div>
											<table id="font_hd" cellspacing="0" cellpadding="0">
												<tbody>
													<tr>
														<td class="lkff" id="info">
															<div class="dis" id="top_picture_title_0" style="">
																<a href="http://webmaster.iteye.com/blog/1865375"
																	target="_blank" title="有奖试读奖品丰厚.5月更精彩！">有奖试读奖品丰厚.5月更精彩！</a>
															</div>
															<div class="dis" id="top_picture_title_1"
																style="display: none;">
																<a href="http://openstack.group.iteye.com/"
																	target="_blank" title="openstack群组上线">openstack群组上线</a>
															</div>
															<div class="dis" id="top_picture_title_2"
																style="display: none;">
																<a href="http://cloudstack.group.iteye.com/"
																	target="_blank" title="cloudstack群组上线">cloudstack群组上线</a>
															</div>
														</td>
														<td id="simg">
															<div id="simg-wrap">
																<div class="dis " id="top_picture_button_0">1</div>
																<div class="dis f1" id="top_picture_button_1">2</div>
																<div class="dis f1" id="top_picture_button_2">3</div>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</tbody>
							</table>
							<script type="text/javascript">
                    (function(){
                      var total = 3;
                      var current = 0;
                      var auto_play_on = true;

                      $('bimg').observe('mouseover', function() {auto_play_on = false;});
                      $('bimg').observe('mouseout', function() {auto_play_on = true;});

                      var showPicture = function(index) {
                        if (current !== index) {
                          new Effect.Fade('top_picture_image_' + current);
                          new Effect.Appear('top_picture_image_' + index);
                          $('top_picture_title_' + current).hide();
                          $('top_picture_title_' + index).show();
                          $('top_picture_button_' + current).addClassName('f1');
                          $('top_picture_button_' + index).removeClassName('f1');
                          current = index;
                        }
                      };

                      for (var i = 0; i < total; i++) {
                        $('top_picture_button_' + i).observe('click', (function(i) {
                          return function(ev) {
                            showPicture(i);
                          }
                        })(i));
                      };

                      var autoPlay = function() {
                        if (total !== 0 && auto_play_on) {
                          var next = (current < (total - 1)) ? (current + 1) : 0;
                          showPicture(next);
                        }
                      };
                      setInterval(autoPlay, 5000);
                    })();
                  </script>
						</div>
					</div>



					<div class="news_content">
						<h3>
							<span>热点聚焦</span>
						</h3>
						<dl>
							<dt>
								<a href="http://www.iteye.com/news/27751" target="_blank"
									title="Google I/O 首日看点：Android/Chrome的革新">Google I/O
									首日看点：Android/Chrome的革新</a>
							</dt>
							<dd>
								北京时间5月15日晚上，2013 Google I/O
								大会召开，大会按照Android、Chrome、Search、Google+和Maps的顺序由各个项目的负责人依次登台介绍新的产品特性
								<a href="http://www.iteye.com/news/27751" target="_blank"
									title="Google I/O 首日看点：Android/Chrome的革新">[详情]</a>
							</dd>
							<dt>
								<a href="http://www.iteye.com/news/27754" target="_blank"
									title="程序员在面试中如何占据主动？">程序员在面试中如何占据主动？</a>
							</dt>
							<dd>
								面试是一个双向选择的过程，你大可不必在面试中完全处于被动，相反，你也可以问面试官一些问题，以便看看这个公司是否合你胃口。 <a
									href="http://www.iteye.com/news/27754" target="_blank"
									title="程序员在面试中如何占据主动？">[详情]</a>
							</dd>
							<dt>
								<a href="http://www.csdn.net/article/2013-05-13/2815252"
									target="_blank" title="CSDN专访雷果国：从1.5K到18K的成长之路">CSDN专访雷果国：从1.5K到18K的成长之路</a>
							</dt>
							<dd>
								前段时间CSDN博客上流传了一篇比较励志的博文，讲述了一个程序员从基础薄弱到入职心仪公司的5年成长经历。CSDN此次专访了这篇博文的作者。
								<a href="http://www.csdn.net/article/2013-05-13/2815252"
									target="_blank" title="CSDN专访雷果国：从1.5K到18K的成长之路">[详情]</a>
							</dd>
						</dl>
					</div>

				</div>

				<div class="tuiguang">
					<script type="text/javascript">
/*728*90，iteye新闻内页页顶*/
var cpro_id = "u671990";
</script>
					<script
						src="./ITeye Java编程 Spring框架 Ajax技术 agile敏捷软件开发 ruby on rails实践 - ITeye做最棒的软件开发交流社区_files/c.js"
						type="text/javascript"></script>
					<script type="text/javascript" charset="utf-8"
						src="./ITeye Java编程 Spring框架 Ajax技术 agile敏捷软件开发 ruby on rails实践 - ITeye做最棒的软件开发交流社区_files/ecom"></script>
					<div style="display: none">-</div>
					<iframe id="cproIframe1"
						src="./ITeye Java编程 Spring框架 Ajax技术 agile敏捷软件开发 ruby on rails实践 - ITeye做最棒的软件开发交流社区_files/uijs.htm"
						width="728" height="90" align="center,center" marginwidth="0"
						marginheight="0" scrolling="no" frameborder="0"
						allowtransparency="true"></iframe>
				</div>
				<div class="after">

					<div class="main_left">
						<h3>
							<a href="http://www.iteye.com/news" target="_blank">每日资讯</a> <a
								href="http://www.iteye.com/news" class="more" target="_blank">[更多]</a>
						</h3>
						<ul>
							<li class="title"><a href="http://www.iteye.com/news/27759"
								target="_blank" title="开源力量公开课第18期：云计算之对象存储的技术选择">开源力量公开课第18期：云计算之对象存储的
									...</a></li>
							<li class="title"><a href="http://www.iteye.com/news/27756"
								target="_blank" title="最新浏览器份额：IE 仍是主力军">最新浏览器份额：IE 仍是主力军</a></li>
							<li class="title"><a href="http://www.iteye.com/news/27758"
								target="_blank" title="内核也在刷版本，Linux 3.10 即将到来">内核也在刷版本，Linux
									3.10 即将到来</a></li>
							<li class="title"><a href="http://www.iteye.com/news/27746"
								target="_blank" title="Ruby 安全漏洞，1.9/2.0 全分支受影响">Ruby
									安全漏洞，1.9/2.0 全分支受影响</a></li>
							<li class="title"><a href="http://www.iteye.com/news/27755"
								target="_blank" title="谷歌 VP9 欲颠覆 HTML5 视频编码标准">谷歌 VP9 欲颠覆
									HTML5 视频编码标准</a></li>
							<li class="title"><a href="http://www.iteye.com/news/27753"
								target="_blank" title="IntelliJ IDEA 13：覆盖Android Studio新功能">IntelliJ
									IDEA 13：覆盖Android Studio新功 ...</a></li>
							<li class="title"><a href="http://www.iteye.com/news/27752"
								target="_blank" title="甲骨文宣布新的 Java 版本号命名方案">甲骨文宣布新的 Java
									版本号命名方案</a></li>
							<li class="title"><a href="http://www.iteye.com/news/27747"
								target="_blank" title="Reactor：构建JVM异步应用的基础框架">Reactor：构建JVM异步应用的基础框架</a>
							</li>
							<li class="title"><a href="http://www.iteye.com/news/27750"
								target="_blank" title="8 款简单大气的 jQuery/CSS3 图片特效">8 款简单大气的
									jQuery/CSS3 图片特效</a></li>
							<li class="title"><a href="http://www.iteye.com/news/27748"
								target="_blank" title="11 个最佳 jQuery 滚动条插件">11 个最佳 jQuery
									滚动条插件</a></li>
							<li class="title"><a href="http://www.iteye.com/news/27745"
								target="_blank" title="Google Play 现允许开发者回复用户评论">Google Play
									现允许开发者回复用户评论</a></li>
							<li class="title"><a href="http://www.iteye.com/news/27744"
								target="_blank" title="2013年Q1移动互联网报告：小型开发者越来越难">2013年Q1移动互联网报告：小型开发者越来越
									...</a></li>
							<li class="title"><a href="http://www.iteye.com/news/27742"
								target="_blank" title="学习新技术的 10 个建议">学习新技术的 10 个建议</a></li>
							<li class="title"><a href="http://www.iteye.com/news/27740"
								target="_blank" title="10款超棒的CSS/JavaScript前端特效（第2波）">10款超棒的CSS/JavaScript前端特效（第2波
									...</a></li>
							<li class="title"><a href="http://www.iteye.com/news/27741"
								target="_blank" title="Clippy.js：JS实现的微软Office助手">Clippy.js：JS实现的微软Office助手</a>
							</li>
						</ul>
					</div>



					<div class="main_right">
						<h3>
							<a href="http://www.iteye.com/blogs" target="_blank">博文推荐</a> <a
								href="http://www.iteye.com/blogs" class="more" target="_blank">[更多]</a>
						</h3>
						<ul>
							<li class="title"><a
								href="http://jinnianshilongnian.iteye.com/blog/1870662"
								target="_blank" title="Xwork之OgnlValueStack的set与setValue的区别">Xwork之OgnlValueStack的set与setValue的
									...</a></li>
							<li class="title"><a
								href="http://cq520.iteye.com/blog/1870454" target="_blank"
								title="哈弗曼树与哈弗曼编码">哈弗曼树与哈弗曼编码</a></li>
							<li class="title"><a
								href="http://allen-j-will.iteye.com/blog/1870409"
								target="_blank"
								title="项目添加Maven支持后，单元测试报异常 javax/mail/internet/AddressException 解决">项目添加Maven支持后，单元测试报异常
									jav ...</a></li>
							<li class="title"><a
								href="http://zz563143188.iteye.com/blog/1870134" target="_blank"
								title="关于《深入理解并行编程》一书 ">关于《深入理解并行编程》一书 </a></li>
							<li class="title"><a
								href="http://ddlgyq.iteye.com/blog/1870462" target="_blank"
								title="几种不同的循环依赖">几种不同的循环依赖</a></li>
							<li class="title"><a
								href="http://ghost-face.iteye.com/blog/1870253" target="_blank"
								title="通过HadoopAPI获取task日志内容">通过HadoopAPI获取task日志内容</a></li>
							<li class="title"><a
								href="http://zhangzhongjie.iteye.com/blog/1869973"
								target="_blank" title="用expdp/impdp实现将数据从一个数据库导入另一个数据库">用expdp/impdp实现将数据从一个数据库导入
									...</a></li>
							<li class="title"><a
								href="http://yessir163.iteye.com/blog/1869558" target="_blank"
								title="ActivePython PyPM无法正常使用的问题">ActivePython
									PyPM无法正常使用的问题</a></li>
							<li class="title"><a
								href="http://smallnetvisitor.iteye.com/blog/1869815"
								target="_blank" title="安装Eclipse反编译插件">安装Eclipse反编译插件</a></li>
							<li class="title"><a
								href="http://mybar.iteye.com/blog/1870000" target="_blank"
								title="mybatis-generator 代码自动生成工具">mybatis-generator
									代码自动生成工具</a></li>
							<li class="title"><a
								href="http://332590882-qq-com.iteye.com/blog/1869840"
								target="_blank" title="在ubuntu下跑c++程序">在ubuntu下跑c++程序</a></li>
							<li class="title"><a
								href="http://ghost-face.iteye.com/blog/1869926" target="_blank"
								title="MR实现将同一个key的内容分配到同一个输出文件">MR实现将同一个key的内容分配到同一个输出 ...</a>
							</li>
							<li class="title"><a
								href="http://zhangzhongjie.iteye.com/blog/1869982"
								target="_blank" title="用个性化更改LOV值集">用个性化更改LOV值集</a></li>
							<li class="title"><a
								href="http://superlxw1234.iteye.com/blog/1869612"
								target="_blank" title="hive中使用标准sql实现分组内排序">hive中使用标准sql实现分组内排序</a>
							</li>
							<li class="title"><a
								href="http://json20080301.iteye.com/blog/1870453"
								target="_blank" title="SPRING MVC3.2案例讲解--SPRING定义欢迎首页">SPRING
									MVC3.2案例讲解--SPRING定义欢迎首 ...</a></li>
						</ul>
					</div>

				</div>
				<div class="tuiguang">
					<script type="text/javascript">google_ad_client = "ca-pub-1076724771190722";
/* JE 首页下方728&#42;90 */
google_ad_slot = "9897714038";
google_ad_width = 728;
google_ad_height = 90;
</script>
					<script type="text/javascript"
						src="./ITeye Java编程 Spring框架 Ajax技术 agile敏捷软件开发 ruby on rails实践 - ITeye做最棒的软件开发交流社区_files/show_ads.js">
</script>
					<ins
						style="display: inline-table; border: none; height: 90px; margin: 0; padding: 0; position: relative; visibility: visible; width: 728px">
						<ins id="aswift_0_anchor"
							style="display: block; border: none; height: 90px; margin: 0; padding: 0; position: relative; visibility: visible; width: 728px">
							<iframe width="728" height="90" frameborder="0" marginwidth="0"
								marginheight="0" vspace="0" hspace="0" allowtransparency="true"
								scrolling="no"
								onload="var i=this.id,s=window.google_iframe_oncopy,H=s&amp;&amp;s.handlers,h=H&amp;&amp;H[i],w=this.contentWindow,d;try{d=w.document}catch(e){}if(h&amp;&amp;d&amp;&amp;(!d.body||!d.body.firstChild)){if(h.call){setTimeout(h,0)}else if(h.match){w.location.replace(h)}}"
								id="aswift_0" name="aswift_0"
								style="left: 0; position: absolute; top: 0;"></iframe>
						</ins>
					</ins>
				</div>

				<div id="column">
					<h3>
						<a href="http://www.iteye.com/forums/hot_topics" target="_blank">热门讨论</a>
						<a href="http://www.iteye.com/forums/hot_topics" class="more"
							target="_blank">[更多]</a>
					</h3>
					<ul class="column_left">
						<li><a href="http://www.iteye.com/topic/1130454"
							target="_blank" title="基于Bootstrap和jQuery的可视化页面布局程序">基于Bootstrap和jQuery的可视化页面布局程序</a>
						</li>
						<li><a href="http://www.iteye.com/topic/1130452"
							target="_blank" title="JQuery+ajax+jsonp 跨域访问">JQuery+ajax+jsonp
								跨域访问</a></li>
						<li><a href="http://www.iteye.com/topic/1130461"
							target="_blank" title="菜鸟开发的一个小型Ioc容器,恳求大家指点">菜鸟开发的一个小型Ioc容器,恳求大家指点</a>
						</li>
						<li><a href="http://www.iteye.com/topic/1130470"
							target="_blank" title="使用avalon MVVM框架打造整一套jquery ui">使用avalon
								MVVM框架打造整一套jquery ui</a></li>
						<li><a href="http://www.iteye.com/topic/1130487"
							target="_blank" title=" 使用HTML5技术制作在线PDF阅读器（附源码）">
								使用HTML5技术制作在线PDF阅读器（附源码）</a></li>
						<li><a href="http://www.iteye.com/topic/1130516"
							target="_blank" title="免费的项目管理系统">免费的项目管理系统</a></li>
						<li><a href="http://www.iteye.com/topic/1130505"
							target="_blank" title="关于平台与框架，我的一点看法">关于平台与框架，我的一点看法</a></li>
						<li><a href="http://www.iteye.com/topic/1130472"
							target="_blank"
							title="【软件创意】“热点功能列表”和“热点功能树” -- 献给网上银行和管理信息系统的礼物！">【软件创意】“热点功能列表”和“热点功能树”
								-- 献给网上银行和管理信息系统的礼物！</a></li>
						<li><a href="http://www.iteye.com/topic/1130471"
							target="_blank" title="目前用户自定义工作流引擎设计面临的问题">目前用户自定义工作流引擎设计面临的问题</a>
						</li>
						<li><a href="http://www.iteye.com/topic/1130488"
							target="_blank" title="VisualRules和Drools对比报告">VisualRules和Drools对比报告</a>
						</li>
						<li><a href="http://www.iteye.com/topic/1130491"
							target="_blank" title="commons-fileupload-1.2.1文件上传">commons-fileupload-1.2.1文件上传</a>
						</li>
						<li><a href="http://www.iteye.com/topic/1130468"
							target="_blank" title="lucene2.4源码学习9 搜索 norm">lucene2.4源码学习9
								搜索 norm</a></li>
						<li><a href="http://www.iteye.com/topic/1130502"
							target="_blank" title="工作流系统开发不面向企业用户的思想是错误的">工作流系统开发不面向企业用户的思想是错误的</a>
						</li>
						<li><a href="http://www.iteye.com/topic/1130511"
							target="_blank" title="关于nio理解与实际应用时候的疑问">关于nio理解与实际应用时候的疑问</a></li>
						<li><a href="http://www.iteye.com/topic/1130451"
							target="_blank" title="利用iOS本书API编写简单微博客户端全过程">利用iOS本书API编写简单微博客户端全过程</a>
						</li>
						<li><a href="http://www.iteye.com/topic/1130474"
							target="_blank" title="lucene2.4源码学习8 查询 coord">lucene2.4源码学习8
								查询 coord</a></li>
						<li><a href="http://www.iteye.com/topic/1130467"
							target="_blank" title="lucene2.4源码学习8 得分计算方法 Weight的变量部分">lucene2.4源码学习8
								得分计算方法 Weight的变量部分</a></li>
						<li><a href="http://www.iteye.com/topic/1130514"
							target="_blank" title="抛砖引玉，聊下分页。">抛砖引玉，聊下分页。</a></li>
						<li class="bg_no"><a
							href="http://www.iteye.com/topic/1130512" target="_blank"
							title="风格清新的CSS3折叠下拉菜单（附源码）">风格清新的CSS3折叠下拉菜单（附源码）</a></li>
						<li><a href="http://www.iteye.com/topic/1130515"
							target="_blank" title="JEECG使用心得分享">JEECG使用心得分享</a></li>
					</ul>
				</div>



				<div id="column">
					<h3>
						<a href="http://www.iteye.com/problems/hot" target="_blank">热点问题</a>
						<a href="http://www.iteye.com/problems/hot" class="more"
							target="_blank">[更多]</a>
					</h3>
					<ul class="column_left">
						<li><a href="http://www.iteye.com/problems/95177"
							target="_blank" title="Hibernate 级联数据异常">Hibernate 级联数据异常</a></li>
						<li><a href="http://www.iteye.com/problems/95176"
							target="_blank" title="java socket 是全双工么？">java socket 是全双工么？</a>
						</li>
						<li><a href="http://www.iteye.com/problems/95146"
							target="_blank" title="spring mvc登陆功能如何实现较好？">spring
								mvc登陆功能如何实现较好？</a></li>
						<li><a href="http://www.iteye.com/problems/95179"
							target="_blank" title="oracle instantClient下如何使用sqlldr">oracle
								instantClient下如何使用sqlldr</a></li>
						<li><a href="http://www.iteye.com/problems/95180"
							target="_blank" title="myeclipse中项目启动问题">myeclipse中项目启动问题</a></li>
						<li><a href="http://www.iteye.com/problems/95181"
							target="_blank" title="在maven的pom里怎么配置cas">在maven的pom里怎么配置cas</a>
						</li>
						<li><a href="http://www.iteye.com/problems/95165"
							target="_blank" title="Java腾讯微博授权 求大神接触疑惑  问题相当有份量">Java腾讯微博授权
								求大神接触疑惑 问题相当有份量</a></li>
						<li><a href="http://www.iteye.com/problems/95145"
							target="_blank"
							title="spring mvc 配置servlet 时 url-pattern 为什么配置 /* 不可以 而配置 / 则没问题呢">spring
								mvc 配置servlet 时 url-pattern 为什么配置 /* 不可以 而配置 / 则没问题呢</a></li>
						<li><a href="http://www.iteye.com/problems/95159"
							target="_blank" title="一个关于SpringMVC中Controller的方法接收参数的问题">一个关于SpringMVC中Controller的方法接收参数的问题</a>
						</li>
						<li><a href="http://www.iteye.com/problems/95130"
							target="_blank" title="struts2.0 的表单action怎么设定路径何处打开">struts2.0
								的表单action怎么设定路径何处打开</a></li>
						<li><a href="http://www.iteye.com/problems/95140"
							target="_blank" title="extjs 树获取checkColumn列选中的值">extjs
								树获取checkColumn列选中的值</a></li>
						<li><a href="http://www.iteye.com/problems/95178"
							target="_blank" title="首页面两个框底部对齐的问题。">首页面两个框底部对齐的问题。</a></li>
						<li><a href="http://www.iteye.com/problems/95119"
							target="_blank" title="怎样判断Spring容器初始化完成？！">怎样判断Spring容器初始化完成？！</a>
						</li>
						<li><a href="http://www.iteye.com/problems/95172"
							target="_blank" title="关于SpringMVC的访问问题">关于SpringMVC的访问问题</a></li>
						<li><a href="http://www.iteye.com/problems/95158"
							target="_blank"
							title="安装SpringSide4，执行quick-start.bat 停在Downloaded了">安装SpringSide4，执行quick-start.bat
								停在Downloaded了</a></li>
						<li><a href="http://www.iteye.com/problems/95149"
							target="_blank" title="java web前端开发人员的何去何从">java
								web前端开发人员的何去何从</a></li>
						<li><a href="http://www.iteye.com/problems/95173"
							target="_blank" title="Oracle merge的多组匹配条件该怎么写？">Oracle
								merge的多组匹配条件该怎么写？</a></li>
						<li><a href="http://www.iteye.com/problems/95174"
							target="_blank" title="java播放音乐  ">java播放音乐 </a></li>
						<li class="bg_no"><a
							href="http://www.iteye.com/problems/95166" target="_blank"
							title="关于使用MyBatisGenerator生成关联关系的映射文件及POJO对象的问题">关于使用MyBatisGenerator生成关联关系的映射文件及POJO对象的问题</a>
						</li>
						<li><a href="http://www.iteye.com/problems/95167"
							target="_blank" title="KindEditor在Jquery-EasyUI不会显示。">KindEditor在Jquery-EasyUI不会显示。</a>
						</li>
					</ul>
				</div>



				<div id="column">
					<h3>
						<a href="http://www.iteye.com/groups/all_topics" target="_blank">群组热门讨论</a>
						<a href="http://www.iteye.com/groups/all_topics" class="more"
							target="_blank">[更多]</a>
					</h3>
					<table class="grid">
						<thead>
							<tr>
								<td style="width: 400px;">话题</td>
								<td style="width: 120px;">群组</td>
								<td style="width: 80px;">回复/点击</td>
								<td style="width: 100px;">最后回复</td>
							</tr>
						</thead>
						<tbody>
							<tr onmouseover="$(this).addClassName(&#39;mouse_over&#39;);"
								onmouseout="$(this).removeClassName(&#39;mouse_over&#39;);">
								<td><a
									href="http://hadoop.group.iteye.com/group/topic/37809"
									title="hadoop wordCount eclipse执行提示ClassNotFoundException"
									target="_blank">hadoop wordCount eclipse执行提示ClassNot ...</a></td>
								<td class="group"><a href="http://hadoop.group.iteye.com/"
									target="_blank">Hadoop</a></td>
								<td class="group">1 / 62</td>
								<td class="date">19 小时前 <a
									href="http://hadoop.group.iteye.com/group/topic/37809/post/245370"
									target="_blank"><img alt="浏览最新的文章"
										src="./ITeye Java编程 Spring框架 Ajax技术 agile敏捷软件开发 ruby on rails实践 - ITeye做最棒的软件开发交流社区_files/icon_last_post.gif"></a></td>
							</tr>
							<tr onmouseover="$(this).addClassName(&#39;mouse_over&#39;);"
								onmouseout="$(this).removeClassName(&#39;mouse_over&#39;);">
								<td><a
									href="http://lucene-group.group.iteye.com/group/topic/37708"
									title="分布式索引的架构和更新问题" target="_blank">分布式索引的架构和更新问题</a></td>
								<td class="group"><a
									href="http://lucene-group.group.iteye.com/" target="_blank">lucene爱好者</a></td>
								<td class="group">4 / 1148</td>
								<td class="date">前天 <a
									href="http://lucene-group.group.iteye.com/group/topic/37708/post/245250"
									target="_blank"><img alt="浏览最新的文章"
										src="./ITeye Java编程 Spring框架 Ajax技术 agile敏捷软件开发 ruby on rails实践 - ITeye做最棒的软件开发交流社区_files/icon_last_post.gif"></a></td>
							</tr>
							<tr onmouseover="$(this).addClassName(&#39;mouse_over&#39;);"
								onmouseout="$(this).removeClassName(&#39;mouse_over&#39;);">
								<td><a href="http://jbpm.group.iteye.com/group/topic/37793"
									title="jbpm4中在state节点中能获取到流程实例id吗？？" target="_blank">jbpm4中在state节点中能获取到流程实例id
										...</a></td>
								<td class="group"><a href="http://jbpm.group.iteye.com/"
									target="_blank">JBPM @net</a></td>
								<td class="group">2 / 86</td>
								<td class="date">前天 <a
									href="http://jbpm.group.iteye.com/group/topic/37793/post/245232"
									target="_blank"><img alt="浏览最新的文章"
										src="./ITeye Java编程 Spring框架 Ajax技术 agile敏捷软件开发 ruby on rails实践 - ITeye做最棒的软件开发交流社区_files/icon_last_post.gif"></a></td>
							</tr>
							<tr onmouseover="$(this).addClassName(&#39;mouse_over&#39;);"
								onmouseout="$(this).removeClassName(&#39;mouse_over&#39;);">
								<td><a
									href="http://openhardware.group.iteye.com/group/topic/37577"
									title="开源粉末3D打印机 Pwdr" target="_blank">开源粉末3D打印机 Pwdr</a></td>
								<td class="group"><a
									href="http://openhardware.group.iteye.com/" target="_blank">开源硬件</a></td>
								<td class="group">13 / 3163</td>
								<td class="date">2013-05-02 <a
									href="http://openhardware.group.iteye.com/group/topic/37577/post/244301"
									target="_blank"><img alt="浏览最新的文章"
										src="./ITeye Java编程 Spring框架 Ajax技术 agile敏捷软件开发 ruby on rails实践 - ITeye做最棒的软件开发交流社区_files/icon_last_post.gif"></a></td>
							</tr>
							<tr onmouseover="$(this).addClassName(&#39;mouse_over&#39;);"
								onmouseout="$(this).removeClassName(&#39;mouse_over&#39;);">
								<td><a
									href="http://stylereportdevelop.group.iteye.com/group/topic/37648"
									title="Java报表软件：Style Report使用技巧（-）" target="_blank">Java报表软件：Style
										Report使用技巧（-）</a></td>
								<td class="group"><a
									href="http://stylereportdevelop.group.iteye.com/"
									target="_blank">报表软件--Style Report报表工具技术</a></td>
								<td class="group">1 / 1694</td>
								<td class="date">2013-04-25 <a
									href="http://stylereportdevelop.group.iteye.com/group/topic/37648/post/244076"
									target="_blank"><img alt="浏览最新的文章"
										src="./ITeye Java编程 Spring框架 Ajax技术 agile敏捷软件开发 ruby on rails实践 - ITeye做最棒的软件开发交流社区_files/icon_last_post.gif"></a></td>
							</tr>
							<tr onmouseover="$(this).addClassName(&#39;mouse_over&#39;);"
								onmouseout="$(this).removeClassName(&#39;mouse_over&#39;);">
								<td><a
									href="http://hllvm.group.iteye.com/group/topic/37588"
									title="关于effective java并发这一章, 呼叫撒加大神" target="_blank">关于effective
										java并发这一章, 呼叫撒加大 ...</a></td>
								<td class="group"><a href="http://hllvm.group.iteye.com/"
									target="_blank">高级语言虚拟机</a></td>
								<td class="group">4 / 639</td>
								<td class="date">2013-04-22 <a
									href="http://hllvm.group.iteye.com/group/topic/37588/post/243793"
									target="_blank"><img alt="浏览最新的文章"
										src="./ITeye Java编程 Spring框架 Ajax技术 agile敏捷软件开发 ruby on rails实践 - ITeye做最棒的软件开发交流社区_files/icon_last_post.gif"></a></td>
							</tr>
							<tr onmouseover="$(this).addClassName(&#39;mouse_over&#39;);"
								onmouseout="$(this).removeClassName(&#39;mouse_over&#39;);">
								<td><a
									href="http://pcdiy.group.iteye.com/group/topic/37575"
									title="冰大，求推荐个电源" target="_blank">冰大，求推荐个电源</a></td>
								<td class="group"><a href="http://pcdiy.group.iteye.com/"
									target="_blank">电脑DIY</a></td>
								<td class="group">9 / 130</td>
								<td class="date">2013-04-19 <a
									href="http://pcdiy.group.iteye.com/group/topic/37575/post/243630"
									target="_blank"><img alt="浏览最新的文章"
										src="./ITeye Java编程 Spring框架 Ajax技术 agile敏捷软件开发 ruby on rails实践 - ITeye做最棒的软件开发交流社区_files/icon_last_post.gif"></a></td>
							</tr>
						</tbody>
					</table>
				</div>



				<div id="column" class="column_groups">
					<h3>
						<a href="http://www.iteye.com/groups/all_wikis" target="_blank">群组知识库</a>
						<a href="http://www.iteye.com/groups/all_wikis" class="more"
							target="_blank">[更多]</a>
					</h3>
					<dl>
						<dt>
							<a href="http://libvirt.group.iteye.com/group/wiki/3417-mem"
								target="_blank" title="Linux内存管理">Linux内存管理</a>
						</dt>

						<dd>Linux内存管理
							摘要：本章首先以应用程序开发者的角度审视Linux的进程内存管理，在此基础上逐步深入到内核中讨论系统物理内存管理和内核内存的使用方法。力求从外到内、水到渠成地引导网友分析L
							...</dd>
						<dd>
							<div class="topic_info clearfix">
								by <a href="http://liuzhijun.iteye.com/" target="_blank"
									title="lantian_123">lantian_123</a> 2012-12-25 浏览 (2913) <a
									href="http://libvirt.group.iteye.com/group/wiki/3417-mem?target=_blank#comments"
									target="_blank">回复 (2)</a> 群组: <a
									href="http://libvirt.group.iteye.com/" target="_blank">Libvirt</a>
							</div>
						</dd>
						<dt>
							<a href="http://cloudstack.group.iteye.com/group/wiki/3415"
								target="_blank" title="CloudStack 在Windows 平台上的开发环境设置">CloudStack
								在Windows 平台上的开发环境设置</a>
						</dt>

						<dd class="news_tag">
							<span>[ <a
								href="http://www.iteye.com/groups/tag_wikis/CloudStack">CloudStack</a>
								]
							</span> <span>[ <a
								href="http://www.iteye.com/groups/tag_wikis/Windows%20%E5%BC%80%E5%8F%91">Windows
									开发</a> ]
							</span>
						</dd>

						<dd>CloudStack 在Windows 平台上的开发环境设置 注意： 1 所在的Windows 平台要求能连上网,
							编译，安装时，需要上网上线下载。 2 安装或解压的软件目录，不要带空格 1 安装 ...</dd>
						<dd>
							<div class="topic_info clearfix">
								by <a href="http://liaowufeng.iteye.com/" target="_blank"
									title="liaowufeng">liaowufeng</a> 2012-11-28 浏览 (2868) <a
									href="http://cloudstack.group.iteye.com/group/wiki/3415?target=_blank#comments"
									target="_blank">回复 (4)</a> 群组: <a
									href="http://cloudstack.group.iteye.com/" target="_blank">CloudStack</a>
							</div>
						</dd>
						<dt>
							<a
								href="http://javaman.group.iteye.com/group/wiki/3424-linux-office"
								target="_blank" title="Apache_OpenOffice 下载">Apache_OpenOffice
								下载</a>
						</dt>

						<dd>OpenOffice 的中文站在点击其他版本时直接404错误
							我在其英文网站点击时没有问题，为了简便下载，特将其列表地址直接发布，从该列表页面可以下载各种语言各个平台的OpenOffice
							http:/ ...</dd>
						<dd>
							<div class="topic_info clearfix">
								by <a href="http://cuisuqiang.iteye.com/" target="_blank"
									title="cuisuqiang">cuisuqiang</a> 2013-04-01 浏览 (425) <a
									href="http://javaman.group.iteye.com/group/wiki/3424-linux-office?target=_blank#comments"
									target="_blank">回复 (1)</a> 群组: <a
									href="http://javaman.group.iteye.com/" target="_blank">Java研发交流</a>
							</div>
						</dd>
					</dl>
				</div>


			</div>
			<div id="local">
				<div class="search column">
					<form action="http://www.iteye.com/search" method="get">
						<input type="hidden" name="type" value="all"> <input
							type="text" name="query" class="text" id="query"
							style="width: 152px; *width: 145px;"> <input
							type="submit" value="搜索" class="submit">
					</form>
				</div>
				<div class="tuiguang">
					<a href="http://www.iteye.com/clicks/888" target="_blank"><img
						src="./ITeye Java编程 Spring框架 Ajax技术 agile敏捷软件开发 ruby on rails实践 - ITeye做最棒的软件开发交流社区_files/maisibo-220-90-0506.gif"></a>
				</div>


				<div id="recommend" class="box ">
					<h3>推荐精华文章</h3>
					<ul>
						<li><a href="http://www.iteye.com/magazines/113"
							target="_blank" title="Java应用级产品开发平台APDPlat作者杨尚川专访">Java应用级产品开发平台APDPlat作者杨尚川专访</a></li>
						<li><a
							href="http://www.iteye.com/magazines/112-opensource-apache-nutz"
							target="_blank" title="开源社区“大牛”关于“开源”的大讨论">开源社区“大牛”关于“开源”的大讨论</a></li>
						<li><a
							href="http://www.iteye.com/magazines/111-ichartjs-html5-javascript"
							target="_blank" title="HTML5图表组件库ichartjs作者王鹤专访">HTML5图表组件库ichartjs作者王鹤专访</a></li>
						<li><a href="http://www.iteye.com/magazines/110"
							target="_blank" title="社区专家谈 12306">社区专家谈 12306</a></li>
						<li><a href="http://www.iteye.com/magazines/109"
							target="_blank" title="基于代码生成器的智能开发框架 JEECG 作者张代浩专访">基于代码生成器的智能开发框架
								JEECG 作者张代浩专访</a></li>
						<li><a href="http://www.iteye.com/magazines/108"
							target="_blank" title="一站式 Java Web 开发框架 Firefly 作者邱鹏滔专访">一站式
								Java Web 开发框架 Firefly 作者邱鹏滔专访</a></li>
					</ul>
				</div>


				<div class="tuiguang">
					<a href="http://www.iteye.com/clicks/890" target="_blank"><img
						src="./ITeye Java编程 Spring框架 Ajax技术 agile敏捷软件开发 ruby on rails实践 - ITeye做最棒的软件开发交流社区_files/taopiao-220-90-0328.gif"></a>
				</div>

				<div id="recommended" class="box" onmousemove="marqueeing = false;"
					onmouseout="marqueeing = true;" style="height: 560px">
					<h3>热门招聘职位</h3>
					<ul>
						<li><a
							href="http://c.pongo.cn/Job/OrgDetails?ID=369831&AdInfoID=0&PositionID=57&GroupID=16&OrgID=0&SiteID=5&AdJobID=67969&AdOrgID=369831"
							target="_blank">北京市:北京永卓利商务咨询有限公司</a><a target="_blank"
							href="http://c.pongo.cn/Job/JobDetails?ID=74206&AdInfoID=0&PositionID=57&GroupID=16&OrgID=0&SiteID=5&AdJobID=67969&AdOrgID=369831">
								诚聘法国上市企业 ORACLE DBA</a></li>
						<li><a
							href="http://c.pongo.cn/Job/OrgDetails?ID=281823&AdInfoID=0&PositionID=57&GroupID=16&OrgID=0&SiteID=5&AdJobID=67132&AdOrgID=281823"
							target="_blank">北京市:金华长风信息技术有限公司北京分公司</a><a target="_blank"
							href="http://c.pongo.cn/Job/JobDetails?ID=74217&AdInfoID=0&PositionID=57&GroupID=16&OrgID=0&SiteID=5&AdJobID=67132&AdOrgID=281823">
								诚聘java web高级软件工程师</a></li>
						<li><a
							href="http://c.pongo.cn/Job/OrgDetails?ID=373824&AdInfoID=0&PositionID=57&GroupID=16&OrgID=0&SiteID=5&AdJobID=67859&AdOrgID=373824"
							target="_blank">北京市:北京筋斗祥云网络技术有限公司</a><a target="_blank"
							href="http://c.pongo.cn/Job/JobDetails?ID=74183&AdInfoID=0&PositionID=57&GroupID=16&OrgID=0&SiteID=5&AdJobID=67859&AdOrgID=373824">
								诚聘Java服务端工程师</a></li>
						<li><a
							href="http://c.pongo.cn/Job/OrgDetails?ID=369645&AdInfoID=0&PositionID=57&GroupID=16&OrgID=0&SiteID=5&AdJobID=67919&AdOrgID=369645"
							target="_blank">北京市:北京缔元信互联网数据技术有限公司</a><a target="_blank"
							href="http://c.pongo.cn/Job/JobDetails?ID=74181&AdInfoID=0&PositionID=57&GroupID=16&OrgID=0&SiteID=5&AdJobID=67919&AdOrgID=369645">
								诚聘Hadoop开发工程师</a></li>
						<li><a
							href="http://c.pongo.cn/Job/OrgDetails?ID=370661&AdInfoID=0&PositionID=57&GroupID=16&OrgID=0&SiteID=5&AdJobID=66411&AdOrgID=370661"
							target="_blank">广州市:东莞市信誉通计算机科技有限公司</a><a target="_blank"
							href="http://c.pongo.cn/Job/JobDetails?ID=74175&AdInfoID=0&PositionID=57&GroupID=16&OrgID=0&SiteID=5&AdJobID=66411&AdOrgID=370661">
								诚聘Android开发工程师</a></li>
						<li><a
							href="http://c.pongo.cn/Job/OrgDetails?ID=373911&AdInfoID=0&PositionID=57&GroupID=16&OrgID=0&SiteID=5&AdJobID=67921&AdOrgID=373911"
							target="_blank">北京市:北京小鸟科技发展有限责任公司</a><a target="_blank"
							href="http://c.pongo.cn/Job/JobDetails?ID=74141&AdInfoID=0&PositionID=57&GroupID=16&OrgID=0&SiteID=5&AdJobID=67921&AdOrgID=373911">
								诚聘PCB Layout工程师</a></li>
						<li><a
							href="http://c.pongo.cn/Job/OrgDetails?ID=373762&AdInfoID=0&PositionID=57&GroupID=16&OrgID=0&SiteID=5&AdJobID=67943&AdOrgID=373762"
							target="_blank">北京市:北京豆酷网络科技有限公司</a><a target="_blank"
							href="http://c.pongo.cn/Job/JobDetails?ID=74151&AdInfoID=0&PositionID=57&GroupID=16&OrgID=0&SiteID=5&AdJobID=67943&AdOrgID=373762">
								诚聘高级Python工程师-网站</a></li>
						<li><a
							href="http://c.pongo.cn/Job/OrgDetails?ID=372519&AdInfoID=0&PositionID=57&GroupID=16&OrgID=0&SiteID=5&AdJobID=66898&AdOrgID=372519"
							target="_blank">上海市:创享桥信息科技(上海)有限公司</a><a target="_blank"
							href="http://c.pongo.cn/Job/JobDetails?ID=74144&AdInfoID=0&PositionID=57&GroupID=16&OrgID=0&SiteID=5&AdJobID=66898&AdOrgID=372519">
								诚聘IT系统工程师</a></li>
						<li><a
							href="http://c.pongo.cn/Job/OrgDetails?ID=358268&AdInfoID=0&PositionID=57&GroupID=16&OrgID=0&SiteID=5&AdJobID=66652&AdOrgID=358268"
							target="_blank">上海市:载信软件(上海)有限公司</a><a target="_blank"
							href="http://c.pongo.cn/Job/JobDetails?ID=70915&AdInfoID=0&PositionID=57&GroupID=16&OrgID=0&SiteID=5&AdJobID=66652&AdOrgID=358268">
								诚聘Java工程师</a></li>
						<li><a
							href="http://c.pongo.cn/Job/OrgDetails?ID=373040&AdInfoID=0&PositionID=57&GroupID=16&OrgID=0&SiteID=5&AdJobID=67546&AdOrgID=373040"
							target="_blank">北京市:北京品友互动信息技术有限公司</a><a target="_blank"
							href="http://c.pongo.cn/Job/JobDetails?ID=73006&AdInfoID=0&PositionID=57&GroupID=16&OrgID=0&SiteID=5&AdJobID=67546&AdOrgID=373040">
								诚聘JS开发工程师</a></li>
						<li><a
							href="http://c.pongo.cn/Job/OrgDetails?ID=373273&AdInfoID=0&PositionID=57&GroupID=16&OrgID=0&SiteID=5&AdJobID=67589&AdOrgID=373273"
							target="_blank">上海市:加拿大国雅竹业有限公司上海代表处</a><a target="_blank"
							href="http://c.pongo.cn/Job/JobDetails?ID=73560&AdInfoID=0&PositionID=57&GroupID=16&OrgID=0&SiteID=5&AdJobID=67589&AdOrgID=373273">
								诚聘网页前端（Front-End）高级程序员</a></li>
						<li><a
							href="http://c.pongo.cn/Job/OrgDetails?ID=237706&AdInfoID=0&PositionID=57&GroupID=16&OrgID=0&SiteID=5&AdJobID=66445&AdOrgID=237706"
							target="_blank">广州市:UC优视（UC浏览器）</a><a target="_blank"
							href="http://c.pongo.cn/Job/JobDetails?ID=70741&AdInfoID=0&PositionID=57&GroupID=16&OrgID=0&SiteID=5&AdJobID=66445&AdOrgID=237706">
								诚聘高级系统运维工程师</a></li>
					</ul>
					<script type="text/javascript">
              var marqueeing = true;
              function marquee(){
                if(marqueeing) {
                  var container = document.getElementById("recommended").getElementsByTagName("ul")[0]
                  container.appendChild(container.firstChild);
                }
              }
              setInterval("marquee()", 4000);
            </script>
				</div>

				<div class="tuiguang">
					<a href="http://www.iteye.com/clicks/811" target="_blank"><img
						src="./ITeye Java编程 Spring框架 Ajax技术 agile敏捷软件开发 ruby on rails实践 - ITeye做最棒的软件开发交流社区_files/zazhi-220-90-0304.jpg"></a>
				</div>


				<div id="groups" class="box">
					<h3>活跃群组</h3>
					<div class="group">
						<div class="logo">
							<a href="http://pcdiy.group.iteye.com/" target="_blank"><img
								src="./ITeye Java编程 Spring框架 Ajax技术 agile敏捷软件开发 ruby on rails实践 - ITeye做最棒的软件开发交流社区_files/40406440-9eee-3cbe-a70d-f0e69dfedd0b.jpg"
								alt="电脑DIY群组"
								title="电脑DIY: 圈主（大家可以称呼我为ice，有些网友喜欢叫冰神）自1997年开始研究电脑DIY，经验极其丰富，教训也是吃足啊，但愿后人不走后悔路，诚心向各位提供咨询服务。纯粹个人业余爱好，如有观点不同很正常，千万不要在圈中随意谩骂。同时谢绝任何形式的广告，推荐可以，广告不行。"
								height="48" width="48"></a>
						</div>
						<span> <a href="http://pcdiy.group.iteye.com/"
							target="_blank"><strong>电脑DIY</strong></a> <br>成员：3076人
						</span>
					</div>
					<div class="group">
						<div class="logo">
							<a href="http://hllvm.group.iteye.com/" target="_blank"><img
								src="./ITeye Java编程 Spring框架 Ajax技术 agile敏捷软件开发 ruby on rails实践 - ITeye做最棒的软件开发交流社区_files/group-logo.gif"
								alt="高级语言虚拟机群组"
								title="高级语言虚拟机: 关注各种高级语言虚拟机（high-level language virtual machine，HLL VM）的设计与实现，泛化至各种高级语言的运行时的设计与实现。讨论范围包括JVM、CLI、Parrot等当前流行的VM平台，也包括Python、Ruby、JavaScript、Lua、Perl、Forth、Smalltalk等众多语言的引擎，还有历史上有影响的各种高级语言虚拟机，如SECD等。"
								height="48" width="48"></a>
						</div>
						<span> <a href="http://hllvm.group.iteye.com/"
							target="_blank"><strong>高级语言虚拟机</strong></a> <br>成员：1462人
						</span>
					</div>
					<div class="group">
						<div class="logo">
							<a href="http://javaeye-water.group.iteye.com/" target="_blank"><img
								src="./ITeye Java编程 Spring框架 Ajax技术 agile敏捷软件开发 ruby on rails实践 - ITeye做最棒的软件开发交流社区_files/eb3bcb04-f1f0-426b-abe7-209b0e8c4760.jpg"
								alt="灌水乐园群组" title="灌水乐园: ITeye的灌水乐园......" height="48"
								width="48"></a>
						</div>
						<span> <a href="http://javaeye-water.group.iteye.com/"
							target="_blank"><strong>灌水乐园</strong></a> <br>成员：369人
						</span>
					</div>
					<div class="group">
						<div class="logo">
							<a href="http://jbpm.group.iteye.com/" target="_blank"><img
								src="./ITeye Java编程 Spring框架 Ajax技术 agile敏捷软件开发 ruby on rails实践 - ITeye做最棒的软件开发交流社区_files/f37a1679-2f71-4374-9c46-a8b385912ba1.gif"
								alt="JBPM @net群组"
								title="JBPM @net: 工作流的运用越来越多，在Java领域最近异军突起的工作流非JBPM莫属了。可是在国内这方面的资料很少，希望可以通过JavaEye这个开源社区把JBPM普及开来！"
								height="48" width="48"></a>
						</div>
						<span> <a href="http://jbpm.group.iteye.com/"
							target="_blank"><strong>JBPM @net</strong></a> <br>成员：7214人
						</span>
					</div>
					<div class="group">
						<div class="logo">
							<a href="http://openhardware.group.iteye.com/" target="_blank"><img
								src="./ITeye Java编程 Spring框架 Ajax技术 agile敏捷软件开发 ruby on rails实践 - ITeye做最棒的软件开发交流社区_files/38d8cc02-30f0-372b-87b5-6c9996677058-normal.jpg"
								alt="开源硬件群组"
								title="开源硬件: 开源硬件，指与自由及开放原始码软体相同方式设计的计算机和电子硬体。开源硬体开始考虑对软体以外的领域开源，是开源文化的一部分。"
								height="48" width="48"></a>
						</div>
						<span> <a href="http://openhardware.group.iteye.com/"
							target="_blank"><strong>开源硬件</strong></a> <br>成员：5人
						</span>
					</div>
				</div>



				<div id="groups" class="box">
					<h3>热门专栏</h3>
					<div class="group">
						<div class="logo">
							<a href="http://www.iteye.com/blogs/subjects/zl52013145"
								target="_blank"><img
								alt="D3f88135-07de-3968-a0f0-d2f13428c267" height="48"
								src="./ITeye Java编程 Spring框架 Ajax技术 agile敏捷软件开发 ruby on rails实践 - ITeye做最棒的软件开发交流社区_files/d3f88135-07de-3968-a0f0-d2f13428c267.jpg"
								width="48"></a>
						</div>
						<span> <a
							href="http://www.iteye.com/blogs/subjects/zl52013145"
							target="_blank">项目开发经验</a><br> 创建者：zz563143188
						</span>
					</div>
					<div class="group">
						<div class="logo">
							<a href="http://www.iteye.com/blogs/subjects/zl19861124"
								target="_blank"><img
								alt="77fc734c-2f95-3224-beca-6b8da12debc8" height="48"
								src="./ITeye Java编程 Spring框架 Ajax技术 agile敏捷软件开发 ruby on rails实践 - ITeye做最棒的软件开发交流社区_files/77fc734c-2f95-3224-beca-6b8da12debc8.jpg"
								width="48"></a>
						</div>
						<span> <a
							href="http://www.iteye.com/blogs/subjects/zl19861124"
							target="_blank">编程工具介绍</a><br> 创建者：zz563143188
						</span>
					</div>
					<div class="group">
						<div class="logo">
							<a href="http://www.iteye.com/blogs/subjects/zl563143188"
								target="_blank"><img
								alt="D9710da2-8a00-3ae6-a084-547a11afab81" height="48"
								src="./ITeye Java编程 Spring框架 Ajax技术 agile敏捷软件开发 ruby on rails实践 - ITeye做最棒的软件开发交流社区_files/d9710da2-8a00-3ae6-a084-547a11afab81.jpg"
								width="48"></a>
						</div>
						<span> <a
							href="http://www.iteye.com/blogs/subjects/zl563143188"
							target="_blank">Spring Mvc实战(必带源码)</a><br> 创建者：zz563143188
						</span>
					</div>
					<div class="group">
						<div class="logo">
							<a href="http://www.iteye.com/blogs/subjects/mybatis"
								target="_blank"><img
								alt="Ebf4ec87-7ba2-3839-a8d3-a7e730b554c9" height="48"
								src="./ITeye Java编程 Spring框架 Ajax技术 agile敏捷软件开发 ruby on rails实践 - ITeye做最棒的软件开发交流社区_files/ebf4ec87-7ba2-3839-a8d3-a7e730b554c9.png"
								width="48"></a>
						</div>
						<span> <a
							href="http://www.iteye.com/blogs/subjects/mybatis"
							target="_blank">Mybatis简介</a><br> 创建者：234390216
						</span>
					</div>
					<div class="group">
						<div class="logo">
							<a href="http://www.iteye.com/blogs/subjects/hibernate"
								target="_blank"><img
								alt="7540262b-3bbd-3a8e-8d7a-3eb174b2b33c" height="48"
								src="./ITeye Java编程 Spring框架 Ajax技术 agile敏捷软件开发 ruby on rails实践 - ITeye做最棒的软件开发交流社区_files/7540262b-3bbd-3a8e-8d7a-3eb174b2b33c.jpg"
								width="48"></a>
						</div>
						<span> <a
							href="http://www.iteye.com/blogs/subjects/hibernate"
							target="_blank">hibernate杂谈</a><br> 创建者：jinnianshilongnian
						</span>
					</div>
				</div>



				<div id="groups" class="box">
					<h3>推荐博主</h3>

					<div class="group">
						<div class="logo">
							<a href="http://justjavac.iteye.com/" target="_blank"><img
								alt="justjavac的博客" class="logo"
								src="./ITeye Java编程 Spring框架 Ajax技术 agile敏捷软件开发 ruby on rails实践 - ITeye做最棒的软件开发交流社区_files/59c752b0-7fe9-32d2-9bf0-b7dc1a018120-thumb.jpg"
								title="justjavac的博客: justjavac(迷渡)"></a>
						</div>
						<span> <a href="http://justjavac.iteye.com/"
							target="_blank" title="justjavac">justjavac</a><br>
							浏览量：1250226
						</span>
					</div>

					<div class="group">
						<div class="logo">
							<a href="http://zz563143188.iteye.com/" target="_blank"><img
								alt="zz563143188的博客" class="logo"
								src="./ITeye Java编程 Spring框架 Ajax技术 agile敏捷软件开发 ruby on rails实践 - ITeye做最棒的软件开发交流社区_files/ed2c9613-51d2-3e20-9da8-f7a660b77c56-thumb.jpg"
								title="zz563143188的博客: 既然来了就要多看几篇博客， 因为每一篇都适合你。如果收藏重复看，你一定能感受到我的正能量。"></a>
						</div>
						<span> <a href="http://zz563143188.iteye.com/"
							target="_blank" title="zz563143188">zz563143188</a><br>
							浏览量：195355
						</span>
					</div>

					<div class="group">
						<div class="logo">
							<a href="http://yangshangchuan.iteye.com/" target="_blank"><img
								alt="yangshangchuan的博客" class="logo"
								src="./ITeye Java编程 Spring框架 Ajax技术 agile敏捷软件开发 ruby on rails实践 - ITeye做最棒的软件开发交流社区_files/70414864-4f4e-3ae3-a03e-672504d2c788-thumb.jpg"
								title="yangshangchuan的博客: 杨尚川的博客"></a>
						</div>
						<span> <a href="http://yangshangchuan.iteye.com/"
							target="_blank" title="yangshangchuan">yangshangchuan</a><br>
							浏览量：193552
						</span>
					</div>

					<div class="group">
						<div class="logo">
							<a href="http://wlh0706-163-com.iteye.com/" target="_blank"><img
								alt="十三月的的博客" class="logo"
								src="./ITeye Java编程 Spring框架 Ajax技术 agile敏捷软件开发 ruby on rails实践 - ITeye做最棒的软件开发交流社区_files/7e64921c-b104-3895-ad63-9796cb73e96a-thumb.jpg"
								title="十三月的的博客: wsc"></a>
						</div>
						<span> <a href="http://wlh0706-163-com.iteye.com/"
							target="_blank" title="十三月的">十三月的</a><br> 浏览量：43552
						</span>
					</div>

					<div class="group">
						<div class="logo">
							<a href="http://nodejs.iteye.com/" target="_blank"><img
								alt="nodejs的博客" class="logo"
								src="./ITeye Java编程 Spring框架 Ajax技术 agile敏捷软件开发 ruby on rails实践 - ITeye做最棒的软件开发交流社区_files/90c2bbda-9788-3a42-a14b-33e978d6c2e9-thumb.jpg"
								title="nodejs的博客: NodeJs"></a>
						</div>
						<span> <a href="http://nodejs.iteye.com/" target="_blank"
							title="nodejs">nodejs</a><br> 浏览量：74805
						</span>
					</div>

				</div>


			</div>
		</div>
		<div id="footer">
			<div id="site_nav">
				<ul>
					<li><a href="http://www.iteye.com/index/service">广告服务</a></li>
					<li><a href="http://webmaster.iteye.com/">ITeye黑板报</a></li>
					<li><a href="http://www.iteye.com/index/contactus">联系我们</a></li>
					<li class="last"><a
						href="http://www.iteye.com/index/friend_links">友情链接</a></li>
				</ul>
			</div>
			<div id="copyright">
				© 2003-2012 ITeye.com. [ <a href="http://www.miibeian.gov.cn/">京ICP证110151号</a>
				京公网安备110105010620 ]<br> 百联优力(北京)投资有限公司 版权所有<br>
			</div>
		</div>

		<center>
			<a
				href="http://www.hd315.gov.cn/beian/view.asp?bianhao=010202012082400500"><img
				src="./ITeye Java编程 Spring框架 Ajax技术 agile敏捷软件开发 ruby on rails实践 - ITeye做最棒的软件开发交流社区_files/biaoshi.gif"></a>
		</center>
	</div>
	<script type="text/javascript">
  document.write("<img src='http://stat.iteye.com/?url="+ encodeURIComponent(document.location.href) + "&referrer=" + encodeURIComponent(document.referrer) + "&user_id=550404' width='0' height='0' />");
</script>
	<img
		src="./ITeye Java编程 Spring框架 Ajax技术 agile敏捷软件开发 ruby on rails实践 - ITeye做最棒的软件开发交流社区_files/saved_resource"
		width="0" height="0">

	<script type="text/javascript">
      function pongoad57(url_list)
      {
        var html = "";
        for(var i = 0;i < url_list.length; i++){
          var url = url_list[i];
          var li = "<a href='<orgurl>' target='_blank'><cityname>:<orgname></a>"
          .replace("<orgurl>", encodeURI(url.orgurl.escapeHTML()))
          .replace("<orgname>", url.orgname.escapeHTML())
          .replace("<joburl>", encodeURI(url.joburl.escapeHTML()))
          .replace("<cityname>", url.cityname.escapeHTML());
          if (url.jobname != null){
            li += "<a target='_blank' href='" + encodeURI(url.joburl) + "'> 诚聘" + url.jobname.escapeHTML() + "</a>";
          }
          html += "<li>" + li + "</li>";
        }
        $$("#recommended ul").first().innerHTML=html;
      }
    </script>

	<script type="text/javascript">
      var url = encodeURIComponent(document.location.href);
      var id = 57;
      var callbackfun="pongoad57";
      document.write(unescape('%3Cscript src="http://a.pongo.cn/Job/GetAdForIteyeCallBack%3Fid%3D'+id+'%26Url%3D'+encodeURIComponent(url)+'%26&CallBack%3D'+callbackfun+'" type="text/javascript"%3E%3C/script%3E'));
    </script>
	<script
		src="./ITeye Java编程 Spring框架 Ajax技术 agile敏捷软件开发 ruby on rails实践 - ITeye做最棒的软件开发交流社区_files/GetAdForIteyeCallBack"
		type="text/javascript"></script>


</body>
</html>

