
<!DOCTYPE html>
<!-- saved from url=(0023)http://ora10.iteye.com/ -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" dir="ltr"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <title>ORA10的博客 - ITeye技术网站</title>

<body>

<div class="default">
<p>
	<div>
		<form method="post" action="/details" class="well form-inline center" style="text-align:center;">
      <br><br>
      <section>类型：<input type="textarea" name="own_blog_type"></section>
			<section>主题：<input type="text" name="own_blog_theme"></section>
			<section>内容：<input type="textarea" name="own_blog_content"></section>
      <section>链接：<input type="textarea" name="own_blog_link"></section>
      <section>时间：<input type="textarea" name="own_blog_time"></section>
      <section>顶：<input type="textarea" name="own_blog_up"></section>
      <section>踩：<input type="textarea" name="own_blog_down"></section>
      <section>阅读数：<input type="textarea" name="own_blog_readnum"></section>
      <section>回复数：<input type="textarea" name="own_blog_returnnum"></section>
      <section>回帖集合：<input type="textarea" name="own_blog_returns"></section>

			<section><input type="submit"></section>
		</form>
		
	</div>
  
</p>
</div>
  

</body></html>

